<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/detail/datail.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="stylesheet" href="/css/mypage/paging.css">
    <link rel="icon" href="/image/favicon.png">

</head>
<body>
<header th:insert="~{main/header.html :: mainHeader}"></header>
<!-- content -->
<div>
    <div class="container">
        <main class="wrap">
            <div class="img-wrap">
                <img src="https://boxful-b2c-test-bucket.s3.ap-northeast-2.amazonaws.com/store/1/main-1.png">
            </div>

            <section class="content-container">
                <div class="content-wrap">
                    <div class="content-title">
                        <h1 class="" <!--th:text="${storages.storageTitle}"-->></h1>
                        <!--                     <button class="shell-btn"></button> -->
                    </div>
                </div>

                <!--  <h2 class="detail-price-container">
                         <span class="detail-price-wrap">12,000</span>
                         <span class="detail-price">원</span>
                 </h2> -->

                <div class="detail-date-container">
                    <dl class="detail-date-wrapper">
                        <dt class="detail-date-name">창고가능기간</dt>
                        <dd class="detail-date-box">
                            <p class="detail-date-use">6개월</p>
                            <p class="detail-date" <!--th:text="${storages.storageUseDate} + '~' + ${storages.storageEndDate}"-->></p>
                        </dd>
                    </dl>

                    <!-- 이름 -->
                    <dl class="detail-info-container">
                        <dt class="detail-info-name">소유자</dt>
                        <dd class="detail-info-wrap">
                            <p class="detail-info-kim" <!--th:text="${storages.userName}"-->></p>
                        </dd>
                    </dl>

                    <!-- 주소 -->
                    <dl class="detail-date-wrap">
                        <dt class="detail-info-name">창고주소</dt>
                        <dd class="detail-info-wrap">
                            <p class="detail-info-kim" <!--th:text="${storages.storageAddress}"-->></p>
                            <p class="detail-info-address" <!--th:text="${storages.storageAddressDetail}"-->></p>
                        </dd>
                    </dl>

                    <dl class="detail-date-wrap">
                        <dt class="detail-info-name">창고사이즈</dt>
                        <dd class="detail-info-wrap">
                            <p class="detail-info-kim" <!--th:text="${storages.storageSize}"-->></p>
                        </dd>
                    </dl>

                    <dl class="detail-date-wrap">
                        <dt class="detail-info-name">소유자연락처</dt>
                        <dd class="detail-info-wrap">
                            <p class="detail-info-kim" <!--th:text="${storages.userPhone}"-->>핸드폰번호</p>
                        </dd>
                    </dl>
                </div>


                <div class="detail-count-container">
                    <div class="detail-count-wrapper">
                        <dl class="detail-count-wrap">
                            <dt class="detail-count-title">이용기간</dt>
                            <dd class="detail-count-d">

                                <div class="">
                                    <div class="date-wrap">
                                        <span class="date-month">개월수</span>
                                    </div>
                                    <div class="btn-count">
                                        <div class="btn-count-wrap">
                                            <button type="button" aria-label="수량내리기" class="count-down"></button>
                                            <div class="count-c">1</div>
                                            <button type="button" aria-label="수량올리기" class="count-up"></button>
                                        </div>

                                    </div>
                                </div>
                            </dd>
                        </dl>
                    </div>

                    <div class="detail-price-container">
                        <div class="detail-price-wrap">
                            <div class="detail-price-wrapper">
                                <span class="detail-price-title">총 상품금액 :</span>
                                <span class="detail-price">12000</span>
                                <span class="detail-p">원</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 예약버튼 -->
                <div class="reserve-btn-container">
                    <div class="reserve-btn-wrap">
                        <button class="reserve-btn" type="button" radius="3" onclick="location.href='/pay/payment.html'">
                            <span class="reserve-btn-title">창고 예약하기</span>
                        </button>
                    </div>
                </div>
    </div>
    </section>


    <!-- 상세정보 / 후기 -->
    <nav class="review-detail-title-container">
        <ul class="review-detail-title-wrap">
            <li class="review-detail-t" id="review-backcolor">
                <a class="review-detail-a" href="#moveInfo">
                    <span class="name" id="review-color">상세정보</span>
                </a>
            </li>
            <li class="review-detail-t" id="review-a">
                <a class="review-detail-a" href="#moveReview">
                    <span id="review-c" class="name">후기</span>
                    <span id="review-c" class="count" <!--th:text="${total}"-->></span>
                </a>
            </li>
        </ul>
    </nav>



    <div class="">
        <div id="description" class="sharebox-info-container">
            <div class="sharebox-info-wrap">
                <div class="sharebox-photo-wrap">
                    <div id="moveInfo" class="sharebox-photo">
                        <!-- <img id="expandedImg"  src="https://img-cf.kurly.com/shop/data/goodsview/20200803/gv40000025492_1.jpg"> -->
                        <img id="expandedImg" src="/image/logo.png">
                    </div>
                </div>
            </div>

            <div class="sharebox-img-container">
                <button type="button" class="review-img"></button>
                <button type="button" class="review-img1"></button>
                <button type="button" class="review-img2"></button>
                <button type="button" class="review-img"></button>
                <button type="button" class="review-img"></button>
                <button type="button" class="review-img"></button>
                <button type="button" class="review-img"></button>
                <button type="button" class="review-img"></button>
            </div>
        </div>




        <div class="review-title-container" id="moveReview">
            <section class="review-title-sec">
                <header class="review-title-text">
                    <h2 aria-label="product-review" class="review-title-t">상품 후기</h2>
                </header>



                <!-- 후기 -->
                <div class="review-container">
                    <div class="review-count-container">

                        <!-- 후기 총 건수 -->
                        <span class="review-count-total" <!--th:text="'총' + ${total} + '개'"-->></span>
                    </div>

                <!--DB조회로 후기 담기-->
            </section>
            <!--<div th:object="${pagination}">
                <div class="paging" style="text-align: center">
                    <a class="changePage" th:href="'detail?page=' + *{startPage - 1}" th:if="*{prev}" style="color: black"><code><</code></a>
                    <th:block th:each="page:${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                        <a class="changePage" style="color: black" th:href="'detail?page=' + ${page}" th:if="${pagination.criteria.page != page}"><code th:text="${page}"></code></a>
                        <code id="currentPage" th:unless="${pagination.criteria.page != page}" th:text="${page}"></code>
                    </th:block>
                    <a class="changePage" th:href="'detail?page=' + ${pagination.endPage + 1}" th:if="*{next}" style="color: black"><code>></code></a>
                </div>
                <form th:action="@{/storages/detail}" th:object="${criteria}" name="pageForm">
                    <input type="hidden" th:field="*{page}">
                    <input type="hidden" th:field="*{amount}">
                </form>
            </div>-->
        </div>
    </div>

    <!-- 위로가기 -->


    <!-- <span class="wrap-icon">
        <a>
            <img src="https://res.kurly.com/pc/service/common/1903/btn_pagetop_v2.png" alt="위로가기 아이콘" class="up-icon">
        </a>
    </span> -->


    <!-- 푸터 -->
    <footer th:insert="~{main/footer.html :: mainFooter}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!--<script th:inline="javascript">
    let reviews = [[${reviews}]];
    let storages = [[${storages}]];
</script>-->
<script src="/js/detail/changeimg.js"></script>
<script src="/js/main/header.js"></script>
<script src="/js/detail/count.js"></script>
<script src="/js/detail/detailInfo.js"></script>

</html>