<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>창고등록</title>
    <link rel="icon" href="../../static/image/favicon.png">
    <link rel="stylesheet" href="../../static/css/storageRegister/storageRegister.css">
    <link rel="stylesheet" href="../../static/css/main/header.css">
    <link rel="stylesheet" href="../../static/css/main/footer.css">
</head>
<body>
    <div id="fullscreen">
        <!-- 비로그인시 -->
        <!-- <header>
            <div class="header-layout">
                <div class="login-all-menu">
                    <a href="/market-kurly/joinForm.html" class="sign-up-menu">회원가입</a>
                    <div class="slash"></div>
                    <a href="/market-kurly/login.html" class="login-menu">로그인</a>
                    <div class="slash"></div>
                    <div class="customer-center-layout">
                        <a class="customer-centertext">문의하기
                        </a>
                    </div>
                </div>
                <div class="second-header-layout">
                    <div class="second-header-layout1">
                        <img class="logo" src="../../static/image/logo.png" alt="마켓컬리 로고">
                    </div>
                </div>
            </div>
            <div id="header" class="menu-fix">
                <div class="menu">
                    <div class="header-dropbox">
                        <div class="category-layout">
                            <span class="category-img"></span>
                            <span class="category-text">지역별</span>
                        </div>
                        <div class="header-dropbox-div">
                            <ul class="header-dropbox-ul">
                                <li class="header-dropbox-li">
                                    <span>서울특별시</span>
                                </li>
                                <li class="header-dropbox-li">
                                    <span>경기도</span>
                                </li>
                                <li class="header-dropbox-li">
                                    <span>강원도</span>
                                </li>
                                <li class="header-dropbox-li">
                                    <span>충청북도</span>
                                </li>
                                <li class="header-dropbox-li">
                                    <span>충청남도</span>
                                </li>
                                <li class="header-dropbox-li">
                                    <span>경상북도</span>
                                </li>
                                <li class="header-dropbox-li">
                                    <span>경상남도</span>
                                </li>
                                <li class="header-dropbox-li">
                                    <span>전라북도</span>
                                </li>
                                <li class="header-dropbox-li">
                                    <span>전라남도</span>
                                </li>
                                <li class="header-dropbox-li">
                                    <span>제주도</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="menus-layout">
                        <li class="menu-layout">
                            <span class="menu-text">창고등록</span>
                        </li>
                        <li class="menu-layout">
                            <span class="menu-text">공지사항</span>
                        </li>
                        <li class="menu-layout">
                            <span class="menu-text">FAQ</span>
                        </li>
                    </ul>
                    <div class="saetbyeol-notice-layout">
                        <a href="https://www.kurly.com/shop/event/kurlyEvent.php?htmid=event/delivery_search/delivery_search" class="user-guide">
                            <div class="saetbyeol-notice-box">
                                <span class="saetbyeol-notice-text">창고 규격</span>
                                안내
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="hidden"></div>
        </header> -->



        <!-- 로그인 시 -->
        <header>
            <div class="header-layout">
                <div class="login-all-menu">
                    <a href="/market-kurly/login.html" class="login-menu">
                        <span class="welcome-box">웰컴</span>
                        정현진 님
                    </a>
                    <div class="slash"></div>
                    <a href="/market-kurly/login.html" class="login-menu">로그아웃</a>
                    <div class="slash"></div>
                    <div class="customer-center-layout">
                        <a class="customer-centertext">문의하기
                        </a>
                    </div>
                </div>
                <div class="second-header-layout">
                    <div class="second-header-layout1">
                        <img class="logo" src="../../static/image/logo.png" alt="마켓컬리 로고">
                    </div>
                </div>
            </div>
            <div id="header" class="menu-fix">
                <div class="menu">
                    <div class="header-dropbox">
                        <div class="category-layout">
                            <span class="category-img"></span>
                            <span class="category-text">지역별</span>
                        </div>
                        <div class="header-dropbox-div">
                            <ul class="header-dropbox-ul">
                                <li class="header-dropbox-li">
                                    <span>서울특별시</span>
                                </li>
                                <li class="header-dropbox-li">
                                    <span>경기도</span>
                                </li>
                                <li class="header-dropbox-li">
                                    <span>강원도</span>
                                </li>
                                <li class="header-dropbox-li">
                                    <span>충청북도</span>
                                </li>
                                <li class="header-dropbox-li">
                                    <span>충청남도</span>
                                </li>
                                <li class="header-dropbox-li">
                                    <span>경상북도</span>
                                </li>
                                <li class="header-dropbox-li">
                                    <span>경상남도</span>
                                </li>
                                <li class="header-dropbox-li">
                                    <span>전라북도</span>
                                </li>
                                <li class="header-dropbox-li">
                                    <span>전라남도</span>
                                </li>
                                <li class="header-dropbox-li">
                                    <span>제주도</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="menus-layout">
                        <li class="menu-layout">
                            <span class="menu-text">창고등록</span>
                        </li>
                        <li class="menu-layout">
                            <span class="menu-text">공지사항</span>
                        </li>
                        <li class="menu-layout">
                            <span class="menu-text">FAQ</span>
                        </li>
                    </ul>
                    <div class="saetbyeol-notice-layout">
                        <a href="https://www.kurly.com/shop/event/kurlyEvent.php?htmid=event/delivery_search/delivery_search" class="user-guide">
                            <div class="saetbyeol-notice-box">
                                <span class="saetbyeol-notice-text">창고 규격</span>
                                안내
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <div class="warehouseRegisterLayout">
        <div class="warehouseRegister">창고등록</div>
        <div class="formWrapper">
            <div class="formStartLine">
                <span class="RequiredInput">*</span>
                필수입력사항
            </div>
            <div class="formstart">
                <!-- ----------------창고이름------------------ -->
                <div class="wrapper">
                    <div class="title">
                        <label class="label">
                            창고이름
                    </div>

                    <div class="flexLayout">
                        <div class="paddingBottom">
                            <div class="inputBox">
                                <input class="input" type="text" placeholder="창고 이름을 입력해 주세요" name="storageName"
                                    required autocomplete="none" value>
                            </div>
                        </div>
                    </div>
                    <div class="checkBoxLimitWidth"></div>
                </div>
                <!-- ----------------소유주------------------ -->
                <div class="wrapper">
                    <div class="title">
                        <label class="label">
                            소유주<span class ="RequiredInput">*</span></label>
                    </div>

                    <div class="flexLayout">
                        <div class="paddingBottom">
                            <div class="inputBox">
                                <input class="input" type="text" placeholder="본인의 이름을 입력해 주세요" name="userName"
                                    required autocomplete="none" value>
                            </div>
                        </div>
                        <div class="errorDiv">
                            <p class="errorMessage"></p>
                        </div>
                    </div>
                    <div class="checkBoxLimitWidth"></div>
                </div>
                <!-- ----------------휴대폰------------------ -->
                <div class="wrapper">
                    <div class="title">
                        <label class="label">휴대폰<span class ="RequiredInput">*</span></label>
                    </div>

                    <div class="flexLayout">
                        <div class="inputBox">
                            <input class="input" type="text" placeholder="숫자만 입력해주세요." name="userPhone"
                                required autocomplete="none">
                        </div>
                        <div class="errorDiv">
                            <p class="errorMessage"></p>
                        </div>
                    </div>
                    <div class="checkBoxLimitWidth"></div>
                </div>
                <!-- ----------------창고사이즈------------------ -->
                <div class="wrapper">
                    <div class="title">
                        <label class="label">창고 사이즈<span class ="RequiredInput">*</span>
                        </label>
                    </div>
                    <div class="flexLayout">
                            <form class="radioLayout">
                                <label class="sizeSelect" for="sizeSmall">
                                    <input class="warehouseSizeRadio" data-testid="radioSmall" id="sizeSmall" name="size" type="radio" value="SMALL" onclick="clickRadio()">
                                    <span id = "sizeSmallSpan" class="checkBox">
                                        <div id="sizeSmallDiv" class="checkBox2"></div>
                                    </span>
                                    <span class="radioText">소</span>
                                </label>
                                <label class="sizeSelect" for="sizeMiddle">
                                    <input class="warehouseSizeRadio" data-testid="radioMiddle" id="sizeMiddle" name="size" type="radio" value="MIDDLE" onclick="clickRadio()">
                                    <span id="sizeMiddleSpan" class="checkBox">
                                        <div id="sizeMiddleDiv" class="checkBox2"></div>
                                    </span>
                                    <span class="radioText">중</span>
                                </label>
                                <label class="sizeSelect" for="sizeBig">
                                    <input class="warehouseSizeRadio" data-testid="radioBig" id="sizeBig" name="size" type="radio" value="NONE" onclick="clickRadio()">
                                    <span class="checkBox">
                                        <div class="checkBox2"></div>
                                    </span>
                                    <span class="radioText">대</span>
                                </label>
                                <label class="sizeSelect" for="sizeBBig">
                                    <input class="warehouseSizeRadio" data-testid="radioBig" id="sizeBBig" name="size" type="radio" value="NONE" onclick="clickRadio()">
                                    <span class="checkBox">
                                        <div class="checkBox2"></div>
                                    </span>
                                    <span class="radioText">특대</span>
                                </label>
                            </form>
                            <span class="explainText"> 사이즈는 공지사항을 참고하시기 바랍니다.</span>
                        </div>
                        <div class="checkBoxLimitWidth"></div>
                    </div>
                <!-- ----------------창고이용가능기간------------------ -->
                <div class="wrapper">
                    <div class="title">
                        <label class="label">창고이용가능기간<span class ="RequiredInput">*</span>
                        </label>
                    </div>
                    <div class="periodOfUseFlexLayout">
                        <div class="periodOfUse">
                            <div class="periodOfUseInputLayout">
                                <form>
                                    <input class="useDateInput" type="date">
                                </form>
                            </div>
                        </div>
                        <div class="wave">~</div>
                        <div class="periodOfUse">
                            <div class="periodOfUseInputLayout">
                                <form>
                                    <input class="useDateInput" type="date">
                                </form>
                                <!-- <span class="periodOfUseInputText">2023.03.10</span>
                                <span class="calendarSVG"></span> -->
                            </div>
                        </div>
                    </div>
                    <div class="checkBoxLimitWidth"></div>
                </div>
                <!-- ----------------창고주소------------------ -->
                <div class="wrapper">
                    <div class="title">
                        <label class="label">
                            창고 주소<span class ="RequiredInput">*</span>
                        </label>
                    </div>

                    <div class="flexLayout">
                        <div class="addressWrapper">
                            <div class="addressInputLayout">
                                <input id="address" class="addressInput" type="text" placeholder="주소를 찾아주세요." name="address" required autocomplete="none" value="" readonly>
                            </div>
                            <div class="errorDiv">
                                <p class="errorMessage"></p>
                            </div>
                        </div>
                        <div class="addressDetailWrapper">
                            <div class="addressInputLayout">
                                <input class="input" type="text" placeholder="상세주소를 입력해주세요." name="addressDetail" required autocomplete="none">
                            </div>
                            <div class="errorDiv">
                                <p class="errorMessage"></p>
                            </div>
                        </div>
                    </div>
                    <div class="checkBoxLimitWidth">
                        <button class="searchAddressBt" type="button" height="44" radius="4"  onclick="sample6_execDaumPostcode()">
                            <span class="addressImgClass">
                                <img class="addressImg" src="https://res.kurly.com/pc/service/cart/2007/ico_search.svg" >주소 검색
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- 창고사진등록 -->
            <div class="termsLine"></div>
        <div class="termStart">
            <div class="termsLayout">
                <div class="termsTitle">
                    <label class="termsLabel">
                        창고사진등록<span class="RequiredInput">*</span>
                    </label>
                </div>
                <div class="imageContainer">
                    <div class="imageWrapperPadding">
                        <div class="imageWrapper">
                            <div id="thumbnail-list" class="imageDiv">
                                <div class="imgButtonWrap">
                                    <label for="photo-picker">
                                        <div class="imgButton" >
                                            <span class="cameraIconImg"></span>
                                        </div>
                                        <input class="imageFileInput" id="photo-picker" type="file" accept="image/jpg, image/jpeg, image/png, image/bmp" multiple/>
                                    </label>
                                </div>
                            </div>
                            <div class="imgTextWrapper">
                                <div class="imgTextDiv">
                                    <span></span>
                                    30MB 이하의 이미지만 업로드 가능합니다.
                                </div>
                                <div class="imgTextDiv">
                                    <span></span>
                                    상품과 무관한 내용이거나 음란 및 불법적인 내용은 통보없이 삭제 될 수 있습니다.
                                </div>
                                <div class="imgTextDiv">
                                    <span></span>
                                    사진은 최대 8장까지 등록가능합니다.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="submitLayout">
            <button class="submitButton" type="submit" width="240" height="56" radius="3">
                <span class="buttonBox">등록하기</span>
            </button>
        </div>
        </div>
    </div>
    <!-- 선택 사진 제한 모달 -->
    <div class="modalContainer" style="overflow-y: auto;">
        <div class="popup" style="display:flex;">
            <div class="modalHeader">
                <ul class="progressStep" style="display:none;"></ul>
                <div class="modalIcon" style="display:none"></div>
                <img src="" alt="">
                <h2></h2>
                <button></button>
            </div>
            <div class="modalContent">
                <div class="modalContentContainer" style="display: block;">
                <div class="modalContentInput"> 로그인하셔야 본 서비스를 이용하실 수 있습니다.</div>
                <div class="modalFooterInput">
                        <button class="modalCheckButton" onclick="hideModal()">확인</button>
                </div>
                </div>
                <input type="text" style="display: none;">
                <input type="text" style="display: none;">
            </div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- 푸터 -->
    <footer class="footer">
        <div id="footer">
            <div class="footer-layout">
                <div class="footer-left-layout">
                    <h2 class="footer-title">고객행복센터</h2>
                    <strong class="footer-phonenum-text">
                        1644-1107<span class="footer-phonenum-explain">월~토요일 오전 7시 - 오후 6시</span>
                    </strong>
                    <div class="inquiries-layout">
                        <div class="inquiry-layout">
                            <button class="inquiry-button">1:1 문의</button>
                            <div class="inquiry-text">
                                365일
                                <br>
                                고객센터 운영시간에 순차적으로 답변드리겠습니다.
                            </div>
                        </div>
                        <div class="inquiry-layout">
                            <button class="inquiry-button">FAQ</button>
                            <div class="inquiry-text">
                                문의 전 고객님들이
                                <br>
                                자주 하신 질문을 찾아보세요.
                            </div>
                        </div>
                    </div>
                    <div class="inquiry-email">
                        비회원 문의 : 
                        <a href="mailto:help@kurlycorp.com">help@kurlycorp.com</a>
                        <br>
                        비회원 대량주문 문의 : 
                        <a href="mailto:kurlygift@kurlycorp.com">kurlygift@kurlycorp.com</a>
                    </div>
                </div>
                <div class="footer-right-layout">
                    <div class="kurly-info">
                        법인명 (상호) : 주식회사 짐캐리
                        <span class="footer-slash-layout"></span>
                        사업자등록번호 : 261-81-23567<a class="important-text" href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=2618123567&amp;apv_perm_no=">사업자정보 확인</a>
                        <br>
                        통신판매업 : 제 2018-서울강남-01646 호
                        <span class="footer-slash-layout"></span>
                        개인정보보호책임자 : 이원준
                        <br>
                        주소 : 서울특별시 강남구 테헤란로 133, 18층(역삼동)
                        <span class="footer-slash-layout"></span>
                        대표이사 : 김슬아
                        <br>
                        제휴문의 :
                        <a class="important-text" href="mailto:business@kurlycorp.com">business@kurlycorp.com</a>
                        <br>
                        채용문의 :<a class="important-text" href="mailto:recruit@kurlycorp.com">recruit@kurlycorp.com</a>
                        <br>
                        팩스: 070 - 7500 - 6098
                    </div>
                </div>
            </div>
            <!-- 인증마크 -->
            <div class="certification-mark-layout">
                <button class="certification-mark-button">
                    <img class="mark-img" src="https://res.kurly.com/pc/ico/2208/logo_isms.svg">
                    <p class="mark-text">
                        [인증범위] 짐캐리 쇼핑몰 서비스 개발·운영
                        <br>
                        (심사받지 않은 물리적 인프라 제외)
                        <br>
                        [유효기간] 2022.01.19 ~ 2025.01.18
                    </p>
                </button>
                <button class="certification-mark-button">
                    <img class="mark-img" src="https://res.kurly.com/pc/ico/2208/logo_privacy.svg">
                    <p class="mark-text">
                        개인정보보호 우수 웹사이트 ·
                        <br>
                        개인정보처리시스템 인증 (ePRIVACY PLUS)
                    </p>
                </button>
                <button class="certification-mark-button">
                    <img class="payments-mark-img" src="https://res.kurly.com/pc/ico/2208/logo_tosspayments.svg"> 
                    <p class="mark-text">
                        토스페이먼츠 구매안전(에스크로)
                        <br>
                        서비스를 이용하실 수 있습니다.
                    </p>
                </button>
                <button class="certification-mark-button">
                    <img class="wooriBank-mark-img" src="https://res.kurly.com/pc/ico/2208/logo_wooriBank.svg">
                    <p class="mark-text">
                        고객님이 현금으로 결제한 금액에 대해 우리은행과
                        <br>
                        채무지급보증 계약을 체결하여 안전거래를 보장하고
                        <br>
                        있습니다.
                    </p>
                </button>
            </div>
        </div>
        <div class="all-right-reserved">
            짐캐리에서 판매되는 상품 중에는 짐캐리에 입점한 개별 판매자가 판매하는 마켓플레이스(오픈마켓) 상품이 포함되어 있습니다.
            <br>
            마켓플레이스(오픈마켓) 상품의 경우 짐캐리는 통신판매중개자로서 통신판매의 당사자가 아닙니다. 짐캐리는 해당 상품의 주문, 품질, 교환/환불 등 의무와 책임을 부담하지 않습니다.
            <em class="all-right-reserved-text">© JimCarry CORP. ALL RIGHTS RESERVED</em>
        </div>
    </footer>
</body>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="../../static/js/storageRegister/storageRegister.js"></script>
<script src="../../static/js/main/header.js"></script>
</html>