<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>창고등록</title>
    <link rel="icon" href="/image/favicon.png">
    <link rel="stylesheet" href="/css/storageRegister/storageRegister.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
</head>
<body>
<header th:insert="~{main/header.html :: mainHeader}"></header>
<div class="warehouseRegisterLayout">
    <div class="warehouseRegister">창고등록</div>
    <div class="formWrapper">
        <div class="formStartLine">
            <span class="RequiredInput">*</span>
            필수입력사항
        </div>
        <form name="storageForm">
            <div class="formstart">
                <!-- ----------------창고이름------------------ -->

                <div class="wrapper">
                    <div class="title">
                        <label class="label">
                            창고이름
                    </div>
                    <div class="flexLayout">
                        <div class="paddingBottom">
                            <div class="inputBox">
                                <input id="inputTitle" class="input" type="text" placeholder="창고 이름을 입력해 주세요" name="storageTitle"
                                       required autocomplete="none" value="">
                            </div>
                        </div>
                    </div>
                    <div class="checkBoxLimitWidth"></div>
                </div>
                <!-- ----------------소유주------------------ -->
                <div class="wrapper">
                    <div class="title">
                        <label class="label">
                            소유주<span class ="RequiredInput">*</span></label>
                    </div>
                    <div class="flexLayout">
                        <div class="paddingBottom">
                            <div class="inputBox">
                                <input id="inputName" class="input" type="text" placeholder="본인의 이름을 입력해 주세요" name="storageName"
                                       required autocomplete="none" value="">
                            </div>
                        </div>
                        <div class="errorDiv">
                            <p class="errorMessage"></p>
                        </div>
                    </div>
                    <div class="checkBoxLimitWidth"></div>
                </div>
                <!-- ----------------휴대폰------------------ -->
                <div class="wrapper">
                    <div class="title">
                        <label class="label">휴대폰<span class ="RequiredInput">*</span></label>
                    </div>
                    <div class="flexLayout">
                        <div class="inputBox">
                            <input id="inputPhone" class="input" type="text" placeholder="숫자만 입력해주세요." name="storagePhone"
                                   required autocomplete="none">
                        </div>
                        <div class="errorDiv">
                            <p class="errorMessage"></p>
                        </div>
                    </div>
                    <div class="checkBoxLimitWidth"></div>
                </div>
                <!-- ----------------창고사이즈------------------ -->
                <div class="wrapper">
                    <div class="title">
                        <label class="label">창고 사이즈<span class ="RequiredInput">*</span>
                        </label>
                    </div>
                    <div class="flexLayout">
                        <div class="radioLayout">
                            <label class="sizeSelect" for="sizeSmall">
                                <input class="warehouseSizeRadio inputsize" data-testid="radioSmall" id="sizeSmall" name="storageSize" type="radio" value="소" onclick="clickRadio()">
                                <span id = "sizeSmallSpan" class="checkBox">
                                                <div id="sizeSmallDiv" class="checkBox2"></div>
                                    </span>
                                <span class="radioText">소</span>
                                <input id="hidePrice" type="hidden" name="storagePrice" value="">
                            </label>
                            <label class="sizeSelect" for="sizeMiddle">
                                <input class="warehouseSizeRadio" data-testid="radioMiddle" id="sizeMiddle" name="storageSize" type="radio" value="중" onclick="clickRadio()">
                                <span id="sizeMiddleSpan" class="checkBox">
                                                <div id="sizeMiddleDiv" class="checkBox2"></div>
                                    </span>
                                <span class="radioText">중</span>
                                <input type="hidden" name="storagePrice" value="">
                            </label>
                            <label class="sizeSelect" for="sizeBig">
                                <input class="warehouseSizeRadio" data-testid="radioBig" id="sizeBig" name="storageSize" type="radio" value="대" onclick="clickRadio()">
                                <span class="checkBox">
                                                <div class="checkBox2"></div>
                                            </span>
                                <span class="radioText">대</span>
                                <input type="hidden" name="storagePrice" value="">
                            </label>
                            <label class="sizeSelect" for="sizeBBig">
                                <input class="warehouseSizeRadio" data-testid="radioBig" id="sizeBBig" name="storageSize" type="radio" value="특대" onclick="clickRadio()">
                                <span class="checkBox">
                                                <div class="checkBox2"></div>
                                    </span>
                                <span class="radioText">특대</span>
                                <input type="hidden" name="storagePrice" value="">
                            </label>
                        </div>
                        <span class="explainText"> 사이즈는 공지사항을 참고하시기 바랍니다.</span>
                    </div>
                    <div class="checkBoxLimitWidth"></div>
                </div>
                <!-- ----------------창고이용가능기간------------------ -->
                <div class="wrapper">
                    <div class="title">
                        <label class="label">창고이용가능기간<span class ="RequiredInput">*</span>
                        </label>
                    </div>
                    <div class="periodOfUseFlexLayout">
                        <div class="periodOfUse">
                            <div class="periodOfUseInputLayout">
                                <input id="inputDateStart" class="useDateInput" type="date" name="storageUseDate">
                            </div>
                        </div>
                        <div class="wave">~</div>
                        <div class="periodOfUse">
                            <div class="periodOfUseInputLayout">
                                <input id="inputDateEnd" class="useDateInput" type="date" name="storageEndDate">
                                <!-- <span class="periodOfUseInputText">2023.03.10</span>
                                <span class="calendarSVG"></span> -->
                            </div>
                        </div>
                    </div>
                    <div class="checkBoxLimitWidth"></div>
                </div>
                <!-- ----------------창고주소------------------ -->
                <div class="wrapper">
                    <div class="title">
                        <label class="label">
                            창고 주소<span class ="RequiredInput">*</span>
                        </label>
                    </div>
                    <div class="flexLayout">
                        <div class="addressWrapper">
                            <div class="addressInputLayout">
                                <input id="address" class="addressInput" type="text" placeholder="주소를 찾아주세요." name="storageAddress" required autocomplete="none" value="" readonly>
                            </div>
                            <div class="errorDiv">
                                <p class="errorMessage"></p>
                            </div>
                        </div>
                        <div class="addressDetailWrapper">
                            <div class="addressInputLayout">
                                <input id="inputDetail" class="input" type="text" placeholder="상세주소를 입력해주세요." name="storageAddressDetail" required autocomplete="none">
                            </div>
                            <div class="errorDiv">
                                <p class="errorMessage"></p>
                            </div>
                        </div>
                    </div>
                    <div class="checkBoxLimitWidth">
                        <button class="searchAddressBt" type="button" height="44" radius="4"  onclick="sample6_execDaumPostcode()">
                                    <span class="addressImgClass">
                                        <img class="addressImg" src="https://res.kurly.com/pc/service/cart/2007/ico_search.svg" >주소 검색
                                    </span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- 창고사진등록 -->
            <div class="termsLine"></div>
            <div class="termStart">
                <div class="termsLayout">
                    <div class="termsTitle">
                        <label class="termsLabel">
                            창고사진등록<span class="RequiredInput">*</span>
                        </label>
                    </div>
                    <div class="imageContainer">
                        <div class="imageWrapperPadding">
                            <div class="imageWrapper">
                                <div id="thumbnail-list" class="imageDiv">
                                    <div class="imgButtonWrap">
                                        <label for="photo-picker">
                                            <div class="imgButton" >
                                                <span class="cameraIconImg"></span>
                                            </div>
                                            <input class="imageFileInput" id="photo-picker" type="file" accept="image/jpg, image/jpeg, image/png, image/bmp" multiple/>
                                        </label>
                                    </div>
                                </div>
                                <div class="imgTextWrapper">
                                    <div class="imgTextDiv">
                                        <span></span>
                                        30MB 이하의 이미지만 업로드 가능합니다.
                                    </div>
                                    <div class="imgTextDiv">
                                        <span></span>
                                        상품과 무관한 내용이거나 음란 및 불법적인 내용은 통보없이 삭제 될 수 있습니다.
                                    </div>
                                    <div class="imgTextDiv">
                                        <span></span>
                                        사진은 최대 8장까지 등록가능합니다.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="storageAddressNumber">
            <div class="submitLayout">
                <button class="submitButton" type="button" width="240" height="56" radius="3">
                    <span class="buttonBox">등록하기</span>
                </button>
            </div>
        </form>
    </div>
</div>
<!-- 로그인 확인 모달 -->
<div class="modalContainer" style="overflow-y: auto;">
    <div class="popup" style="display:flex;">
        <div class="modalHeader">
            <ul class="progressStep" style="display:none;"></ul>
            <div class="modalIcon" style="display:none"></div>
            <img src="" alt="">
            <h2></h2>
            <button></button>
        </div>
        <div class="modalContent">
            <div class="modalContentContainer" style="display: block;">
                <div class="modalContentInput"> 로그인하셔야 본 서비스를 이용하실 수 있습니다.</div>
                <div class="modalFooterInput">
                    <button class="modalCheckButton" onclick="hideModal()">확인</button>
                </div>
            </div>
            <input type="text" style="display: none;">
            <input type="text" style="display: none;">
        </div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- 푸터 -->
<footer th:insert="~{main/footer.html :: mainFooter}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/storageRegister/storageRegister.js"></script>
<script src="/js/storageRegister/hiddenPrice.js"></script>
<script src="/js/main/header.js"></script>
<script src="/js/mypage/doAjax.js"></script>
<script src="/js/storageRegister/storageFile.js"></script>
<script src="/js/storageRegister/storageRegisterFile.js"></script>
</html>