<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>user</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/admin/default.css" />
    <link rel="stylesheet" href="/static/css/admin/sidebar.css" />
    <link rel="stylesheet" href="/static/css/admin/content.css" />
  </head>
  <body>
    <div class="table__container">
      <div class="table__box">
        <table class="table">
          <tr class="table__header">
            <th class="content_check">
              <input type="checkbox" />
            </th>
            <th class="content__id">회원번호</th>
            <th>아이디</th>
            <th>이메일</th>
            <th>성별</th>
            <th class="content_detail"></th>
          </tr>
          <tr>
            <th>
              <input type="checkbox" />
            </th>
            <td>1</td>
            <td>kmg2331</td>
            <td>kmg2331@gmail.com</td>
            <td>남</td>
            <td>
              <button class="content__detail__btn button__type_2 button__color__green">상세보기</button>
            </td>
          </tr>
          <tr>
            <th>
              <input type="checkbox" />
            </th>
            <td>1</td>
            <td>kmg2331</td>
            <td>kmg2331@gmail.com</td>
            <td>남</td>
            <td>
              <button class="content__detail__btn button__type_2 button__color__green">상세보기</button>
            </td>
          </tr>
          <tr>
            <th>
              <input type="checkbox" />
            </th>
            <td>1</td>
            <td>kmg2331</td>
            <td>kmg2331@gmail.com</td>
            <td>남</td>
            <td>
              <button class="content__detail__btn button__type_2 button__color__green">상세보기</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
