<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>modal</title>
    <link rel="stylesheet" href="/css/pay/pay-model.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="icon" href="/image/favicon.png">
<body>
    <div>    
        <button class="pay-btn">결제취소</button>
    </div>

   <!-- 모달 -->

    <div id="modal" class="modal">
      <div class="modal-content">
        <div class="pay-content">결제를 취소했습니다.</div>
        <div class="pay-footer">
        <button class="pay-popup-check">확인</button>
        </div>
      </div>
    </div>
<!-- 모달 끝 -->

</body>
<script>
    const btn = document.querySelector(".pay-btn");
    const container = document.querySelector(".modal");
    const close = document.querySelector(".pay-popup-check");
    
    //모달창 열기
    btn.addEventListener("click", function(){
        container.style.display="block";
    });

    //모달창 닫기
    close.addEventListener("click", function(){
        container.style.display="none";
    });

    //모달창 외부 클릭 시 닫기
    window.onclick = function(event) {
        if(event.target == container) {
            container.style.display = "none";
        }
    };
</script>
</html>