<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>modal</title>
    <link rel="stylesheet" href="/static/css/pay/pay-model.css">
</head>
<body>
    <div>    
        <button class="pay-btn">결제취소</button>
    </div>

   <!-- 모달 -->
   <div class="pay-modal-container pay-modal-center" style="overflow-y: auto; visibility:hidden;">
    <div class="pay-modal-popup pay-modal-show" role="dialog" style="display: flex;">
        <div class="pay-modal-content">
            <div id="pay-modal-content" class="pay-modal-html-container" style="display: block;">
                <div class="pay-popup-content">결제를 취소했습니다</div>
                <div class="pay-popup-footer">
                    <button class="pay-popup-check">확인</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 모달 끝 -->

</body>
</html>