<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/pay/payment-detail.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="icon" href="/image/favicon.png">
</head>
<body>


    <header th:insert="~{main/header.html :: mainHeader}"></header>

<!-- 결제 내역 -->
    <div class="payment-detail-container-wrap">
        <div class="payment-detail-container-wrapper">
            <div class="payment-detail-container">
                <div class="payment-detail-success">
                    <img src="https://res.kurly.com/mobile/service/order/1909/img_success_order_end.gif" alt="" class="success-size">
                    <div class="payment-detail-title-wrap">
                        <p class="payment-detail-title">문은서님의 예약이 완료되었습니다.</p>
                        <p class="payment-detail-enter"><br></p>
                    </div>
                </div>
                <div class="payment-detail-price-container">
                    <div class="payment-detail-price-wrap">
                        <span class="payment-detail-price-title">결제금액</span>
                        <span class="payment-detail-price-count">0
                            <span class="payment-detail-price">원</span>
                        </span>
                    <!--  <span class="payment-detail-price-title">이용기간</span>
                        <span class="payment-detail-price-count">2023.02.14 ~ 2023.03.14</span> -->
                    </div>
                </div>
                <div class="payment-detail-notice-container"></div>
                <div class="payment-detail-notice-wrap">
                    <ul>
                        <li class="payment-detail-notice">[예약완료] 상태일 경우에만 예약내역 상세페이지에서 주문 취소가 가능합니다.</li>
                        <li class="payment-detail-notice">엘리베이터 이용이 어려운 경우 6층 이상부터는 공동 현관 앞 또는 경비실로 대응 배송 될 수 있습니다.</li>
                        <li class="payment-detail-notice">주문 / 배송 및 기타 문의가 있을 경우, 1:1 문의에 남겨주시면 신속히 해결해드리겠습니다.</li>
                    </ul>
                </div>
                <div class="payment-detail-btn">
                    <button class="reserve-detail-btn" type="button">
                        <span class="reserve-detail-title">주문 상세보기</span>
                    </button>
                    <button class="reserve-continue-btn" type="button" onclick="location.href='/templates/main/main.html'">
                        <span class="reserve-detail-title">예약 계속하기</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <footer th:insert="~{main/footer.html :: mainFooter}"></footer>

</body>
<script src="/js/main/header.js"></script>
</html>