<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.app.jimcarry.domain.vo.UserVO" alias="userVO"/>
        <typeAlias type="com.app.jimcarry.domain.vo.FileVO" alias="fileVO"/>
        <typeAlias type="com.app.jimcarry.domain.vo.PaymentVO" alias="paymentVO"/>
        <typeAlias type="com.app.jimcarry.domain.vo.ReviewVO" alias="reviewVO"/>
        <typeAlias type="com.app.jimcarry.domain.vo.InquiryVO" alias="inquiryVO"/>
        <typeAlias type="com.app.jimcarry.domain.vo.StorageVO" alias="storageVO"/>
        <typeAlias type="com.app.jimcarry.domain.vo.ReviewFileVO" alias="reviewFileVO"/>
        <typeAlias type="com.app.jimcarry.domain.vo.StorageFileVO" alias="storageFileVO"/>
        <typeAlias type="com.app.jimcarry.domain.vo.InquiryFileVO" alias="inquiryFileVO"/>
        <typeAlias type="com.app.jimcarry.domain.vo.Criteria" alias="criteria" />
        <typeAlias type="com.app.jimcarry.domain.dto.ReviewDTO" alias="reviewDTO"/>
        <typeAlias type="com.app.jimcarry.domain.dto.InquiryDTO" alias="inquiryDTO"/>
    </typeAliases>
</configuration>