<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/main/footer.css">
</head>
<body>
    <footer class="footer">
        <div id="footer">
            <div class="footer-layout">
                <div class="footer-left-layout">
                    <h2 class="footer-title">고객행복센터</h2>
                    <strong class="footer-phonenum-text">
                        1644-1107<span class="footer-phonenum-explain">월~토요일 오전 7시 - 오후 6시</span>
                    </strong>
                    <div class="inquiries-layout">
                        <div class="inquiry-layout">
                            <button class="inquiry-button">카카오톡 문의</button>
                            <div class="inquiry-text">
                                월~토요일
                                <!-- 슬래쉬 본문에서는 svg 처리 But 나는 div 처리 -->
                                <div class="slash2"></div>
                                오전 7시 - 오후 6시
                                <br>
                                일/공휴일
                                <div class="slash2"></div>
                                오전 7시 - 오후 1시
                            </div>
                        </div>
                        <div class="inquiry-layout">
                            <button class="inquiry-button">1:1 문의</button>
                            <div class="inquiry-text">
                                365일
                                <br>
                                고객센터 운영시간에 순차적으로 답변드리겠습니다.
                            </div>
                        </div>
                        <div class="inquiry-layout">
                            <button class="inquiry-button">대량주문 문의</button>
                            <div class="inquiry-text">
                                월~금요일
                                <div class="slash2"></div>
                                오전 9시 - 오후 6시
                                <br>
                                점심시간
                                <div class="slash2"></div>
                                낮 12시 - 오후 1시
                            </div>
                        </div>
                    </div>
                    <div class="inquiry-email">
                        비회원 문의 : 
                        <a href="mailto:help@kurlycorp.com">help@kurlycorp.com</a>
                        <br>
                        비회원 대량주문 문의 : 
                        <a href="mailto:kurlygift@kurlycorp.com">kurlygift@kurlycorp.com</a>
                    </div>
                </div>
                <div class="footer-right-layout">
                    <div class="kurly-info">
                        법인명 (상호) : 주식회사 컬리
                        <span class="footer-slash-layout"></span>
                        사업자등록번호 : 261-81-23567<a class="important-text" href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=2618123567&amp;apv_perm_no=">사업자정보 확인</a>
                        <br>
                        통신판매업 : 제 2018-서울강남-01646 호
                        <span class="footer-slash-layout"></span>
                        개인정보보호책임자 : 이원준
                        <br>
                        주소 : 서울특별시 강남구 테헤란로 133, 18층(역삼동)
                        <span class="footer-slash-layout"></span>
                        대표이사 : 김슬아
                        <br>
                        입점문의 :<a class="important-text" href="https://docs.google.com/forms/d/e/1FAIpQLScLB7YkGJwNRzpGpp0gbR1i4C1_uvTEFj43SFfJ_XEadTn3gQ/viewform?usp=sf_link">입점문의하기</a>
                        <span class="footer-slash-layout"></span> 
                        제휴문의 :
                        <a class="important-text" href="mailto:business@kurlycorp.com">business@kurlycorp.com</a>
                        <br>
                        채용문의 :<a class="important-text" href="mailto:recruit@kurlycorp.com">recruit@kurlycorp.com</a>
                        <br>
                        팩스: 070 - 7500 - 6098
                    </div>
                    <!-- 마켓컬리sns아이콘 -->
                    <ul class="icon-layout">
                        <a class="sns-icon" href="https://instagram.com/marketkurly">
                            <img src="https://res.kurly.com/pc/ico/1810/ico_instagram.png">
                        </a>
                        <a  class="sns-icon" href="https://www.facebook.com/marketkurly">
                            <img src="https://res.kurly.com/pc/ico/1810/ico_fb.png">
                        </a>
                        <a class="sns-icon" href="https://blog.naver.com/marketkurly">
                            <img src="https://res.kurly.com/pc/ico/1810/ico_blog.png">
                        </a>
                        <a class="sns-icon" href="https://m.post.naver.com/marketkurly">
                            <img src="https://res.kurly.com/pc/ico/1810/ico_naverpost.png">
                        </a>
                        <a class="sns-icon" href="https://www.youtube.com/channel/UCfpdjL5pl-1qKT7Xp4UQzQg">
                            <img src="https://res.kurly.com/pc/ico/1810/ico_youtube.png">
                        </a>
                    </ul>
                </div>
            </div>
            <!-- 인증마크 -->
            <div class="certification-mark-layout">
                <button class="certification-mark-button">
                    <img class="mark-img" src="https://res.kurly.com/pc/ico/2208/logo_isms.svg">
                    <p class="mark-text">
                        [인증범위] 컬리 쇼핑몰 서비스 개발·운영
                        <br>
                        (심사받지 않은 물리적 인프라 제외)
                        <br>
                        [유효기간] 2022.01.19 ~ 2025.01.18
                    </p>
                </button>
                <button class="certification-mark-button">
                    <img class="mark-img" src="https://res.kurly.com/pc/ico/2208/logo_privacy.svg">
                    <p class="mark-text">
                        개인정보보호 우수 웹사이트 ·
                        <br>
                        개인정보처리시스템 인증 (ePRIVACY PLUS)
                    </p>
                </button>
                <button class="certification-mark-button">
                    <img class="payments-mark-img" src="https://res.kurly.com/pc/ico/2208/logo_tosspayments.svg"> 
                    <p class="mark-text">
                        토스페이먼츠 구매안전(에스크로)
                        <br>
                        서비스를 이용하실 수 있습니다.
                    </p>
                </button>
                <button class="certification-mark-button">
                    <img class="wooriBank-mark-img" src="https://res.kurly.com/pc/ico/2208/logo_wooriBank.svg">
                    <p class="mark-text">
                        고객님이 현금으로 결제한 금액에 대해 우리은행과
                        <br>
                        채무지급보증 계약을 체결하여 안전거래를 보장하고
                        <br>
                        있습니다.
                    </p>
                </button>
            </div>
        </div>
        <div class="all-right-reserved">
            컬리에서 판매되는 상품 중에는 컬리에 입점한 개별 판매자가 판매하는 마켓플레이스(오픈마켓) 상품이 포함되어 있습니다.
            <br>
            마켓플레이스(오픈마켓) 상품의 경우 컬리는 통신판매중개자로서 통신판매의 당사자가 아닙니다. 컬리는 해당 상품의 주문, 품질, 교환/환불 등 의무와 책임을 부담하지 않습니다.
            <em class="all-right-reserved-text">© KURLY CORP. ALL RIGHTS RESERVED</em>
        </div>
    </footer>
</body>
</html>