<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>짐캐리 | 메인페이지</title>
    <link rel="icon" href="/image/favicon.png">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/main.css">
    <link rel="stylesheet" href="/css/main/footer.css">
</head>
<body>

    <header th:insert="~{main/header.html :: mainHeader}"></header>

    <section class="container">
        <!-- 메인 배너 -->
        <div class="banner">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="move-arrow">
            <!-- 이전 버튼 -->
            <div class="prev"></div>
            <!-- 다음 버튼 -->
            <div class="next"></div>
        </div>
        <!-- 배너의 카운트 -->
        <span class="banner-count"></span>
    </section>

    <div class="content-banner-div">
        <div class="content-banner-inner-div">
            <div class="content-banner-title-div">
                <a href="#" class="content-banner-title-a">
                    <span class="content-banner-title-text">신규 창고</span>
                </a>
                <p class="content-banner-explain-text">최근 등록된 창고를 살펴보세요.</p>
            </div>
            <div class="four-static-banner-outer-div">
                <div class="four-static-banner-middle-div">
                    <div class="four-static-banner-inner-div" id="four-static-banner-inner-div">
                    </div>
                </div>
                <button type="button" class="prev-button"></button>
                <button type="button" class="next-button"></button>
            </div>
        </div>
    </div>
    
    <div class="content-banner-inner-div">
        <div href="/collections/0316-image" class="advertisement-layout">
            <div class="advertisement-image">
                <img src="/image/container.png">
            </div>
            <div class="advertisement-text-div">
                <strong class="advertisement-text-title">창고 서비스가 필요하다면</strong>
                <p class="advertisement-text-content">당신의 시간과 공간을 차지하는 제품보관은 짐캐리를 통해 맡기세요.
                    저렴하게 창고를 사용하고, 온라인을 통해 간단하고 체계적으로 맡길 수 있습니다.</p>
            </div>
        </div>
        <div class="four-content-wrapper">
            <ul class="four-content-ul">
                <li>
                    <div href="/goods/1000142281" class="four-content-div">
                        <span class="four-content-image">
                            <img src="/image/large.png">
                        </span>
                        <span class="four-content-introduce">
                            <p class="four-content-introduce-text">특대(1년기준)</p>
                            <div class="four-content-introduce-price-wrapper">
                                <span>120,000
                                    <span class="won">원</span>
                                </span>
                            </div>
                        </span>
                    </div>
                </li>
                <li>
                    <div href="/goods/1000142281" class="four-content-div">
                        <span class="four-content-image">
                            <img src="/image/big.png">
                        </span>
                        <span class="four-content-introduce">
                            <p class="four-content-introduce-text">대(1년기준)</p>
                            <div class="four-content-introduce-price-wrapper">
                                <span>88,000
                                    <span class="won">원</span>
                                </span>
                            </div>
                        </span>
                    </div>
                </li>
                <li>
                    <div href="/goods/1000142281" class="four-content-div">
                        <span class="four-content-image">
                            <img src="/image/mid.png">
                        </span>
                        <span class="four-content-introduce">
                            <p class="four-content-introduce-text">중(1년기준)</p>
                            <div class="four-content-introduce-price-wrapper">
                                <span>56,000
                                    <span class="won">원</span>
                                </span>
                            </div>
                        </span>
                    </div>
                </li>
                <li>
                    <div href="/goods/1000142281" class="four-content-div">
                        <span class="four-content-image">
                            <img src="/image/small.png">
                        </span>
                        <span class="four-content-introduce">
                            <p class="four-content-introduce-text">소(1년기준)</p>
                            <div class="four-content-introduce-price-wrapper">
                                <span>24,000
                                    <span class="won">원</span>
                                </span>
                            </div>
                        </span>
                    </div>
                </li>
            </ul>
            <a href="/notice/info" class="show-detail-btn">자세히보기</a>
        </div>
    </div>

    



    <div class="content-banner-div">
        <div class="content-banner-inner-div">
            <div class="content-banner-title-div">
                <a href="#" class="content-banner-title-a">
                    <span class="content-banner-title-text">후기 많은 창고</span>
                </a>
                <p class="content-banner-explain-text">후기가 많은 창고를 살펴보세요.</p>
            </div>
            <div class="four-static-banner-outer-div">
                <div class="four-static-banner-middle-div">
                    <div class="four-static-banner-inner-div" id="storageReview">

                    </div>
                </div>
                <button type="button" class="prev-button"></button>
                <button type="button" class="next-button"></button>
            </div>
        </div>
    </div>

    <footer th:insert="~{main/footer.html :: mainFooter}"></footer>

</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">
    let countReviews = [[${countReviews}]];
    let storages = [[${storages}]];
    let reviews = [[${reviews}]];
    let files = [[${files}]];
</script>
<script src="/js/main/main.js"></script>
<script src="/js/main/header.js"></script>
</html>