<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>짐캐리 | 마이페이지 | 개인 정보 수정</title>
    <link rel="stylesheet" href="/css/mypage/my-info.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="icon" href="/image/favicon.png">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
</head>
<body>
<!-- 헤더 -->
<header th:insert="~{main/header.html :: mainHeader}"></header>
<!-- 마이페이지 -->
<div class="mypage">
    <div class="mypage-section" th:insert="~{mypage/side-menu.html :: top_menu}"></div>
    <div class="mypage-list">
        <div class="mypage-list-left-container" th:insert="~{mypage/side-menu.html :: sidebar}"></div>
        <div class="mypage-list-right">
            <div class="mypage-list-right-name-container">
                <div class="mypage-list-right-name-wrapper">
                    <h2 class="mypage-list-right-name">개인 정보 수정</h2>
                </div>
            </div>
            <div class="mypage-list-right-amend">
                <form name="userForm" action="/users/mypage/update" th:object="${userVO}" method="post">
                    <!-- 아이디 -->
                    <div class="amend-container">
                        <div class="amend-name-container">
                            <label class="amend-name">아이디</label>
                        </div>
                        <div class="amend-inputBox-container">
                            <div class="amend-inputBox-wrapper">
                                <div class="amend-inputBox">
                                    <input type="text" th:value="*{userIdentification}" th:field="*{userIdentification}"
                                           class="amend-id-inputBox-in"
                                           placeholder="아이디를 입력해 주세요">
                                </div>
                                <div class="errorDiv">
                                    <p class="errorMessage"></p>
                                </div>
                            </div>
                        </div>
                        <div class="amend-inputBox-right"></div>
                    </div>
                    <!-- 현재 비밀번호 -->
                    <div class="amend-container">
                        <div class="amend-name-container">
                            <label class="amend-name">현재 비밀번호</label>
                        </div>
                        <div class="amend-inputBox-container">
                            <div class="amend-inputBox-wrapper">
                                <div class="amend-inputBox">
                                    <input type="password" autocomplete="off" placeholder="비밀번호를 입력해 주세요"
                                           class="amend-password-inputBox-in">
                                </div>
                                <div class="errorDiv">
                                    <p class="errorMessage"></p>
                                </div>
                            </div>
                        </div>
                        <div class="amend-inputBox-right"></div>
                    </div>
                    <!-- 새 비밀번호 -->
                    <div class="amend-container">
                        <div class="amend-name-container">
                            <label class="amend-name">새 비밀번호</label>
                        </div>
                        <div class="amend-inputBox-container">
                            <div class="amend-inputBox-wrapper">
                                <div class="amend-inputBox">
                                    <input type="password" name="userPassword" autocomplete="off"
                                           placeholder="새 비밀번호를 입력해 주세요"
                                           class="amend-password-inputBox-in">
                                </div>
                                <div class="errorDiv">
                                    <p class="errorMessage"></p>
                                </div>
                            </div>
                        </div>
                        <div class="amend-inputBox-right"></div>
                    </div>
                    <!-- 새 비밀번호 확인 -->
                    <div class="amend-container">
                        <div class="amend-name-container">
                            <label class="amend-name">새 비밀번호 확인</label>
                        </div>
                        <div class="amend-inputBox-container">
                            <div class="amend-inputBox-wrapper">
                                <div class="amend-inputBox">
                                    <input type="password" autocomplete="off" placeholder="새 비밀번호를 다시 입력해 주세요"
                                           class="amend-password-inputBox-in">
                                </div>
                                <div class="errorDiv">
                                    <p class="errorMessage"></p>
                                </div>
                            </div>
                        </div>
                        <div class="amend-inputBox-right"></div>
                    </div>
                    <!-- 이메일 -->
                    <div class="amend-container">
                        <div class="amend-name-container">
                            <label class="amend-name">이메일</label>
                        </div>
                        <div class="amend-inputBox-container">
                            <div class="amend-inputBox-wrapper">
                                <div class="amend-inputBox">
                                    <input type="text" th:value="*{userEmail}" th:field="*{userEmail}"
                                           placeholder="이메일을 입력해 주세요"
                                           class="amend-password-inputBox-in">
                                </div>
                                <div class="errorDiv">
                                    <p class="errorMessage"></p>
                                </div>
                            </div>
                        </div>
                        <div class="amend-inputBox-right-btn-container"></div>
                    </div>
                    <!-- 휴대폰 -->
                    <div class="amend-container">
                        <div class="amend-name-container">
                            <label class="amend-name">휴대폰</label>
                        </div>
                        <div class="amend-inputBox-container">
                            <div class="amend-inputBox-wrapper">
                                <div class="amend-inputBox">
                                    <input type="text" th:value="*{userPhone}" th:field="*{userPhone}"
                                           placeholder="숫자만 입력해 주세요"
                                           class="amend-password-inputBox-in">
                                </div>
                                <div class="errorDiv">
                                    <p class="errorMessage"></p>
                                </div>
                            </div>
                        </div>
                        <div class="amend-inputBox-right-btn-container">
                            <!--                            <button type="button" class="amend-inputBox-right-btn phoneBtn">-->
                            <!--                                <span class="amend-inputBox-right-btn-name">다른번호 인증</span>-->
                            <!--                            </button>-->
                            <!--                            &lt;!&ndash; 다른번호 인증 모달 &ndash;&gt;-->
                            <!--                            <div id="phonemodal" class="modal phonemodal">-->
                            <!--                                <div class="modal-content">-->
                            <!--                                    <div class="pay-content">휴대폰 번호를 확인해주세요.</div>-->
                            <!--                                    <div class="pay-footer"></div>-->
                            <!--                                    <button class="pay-popup-check phoneclose">확인</button>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <!--                            &lt;!&ndash;  &ndash;&gt;-->
                        </div>
                    </div>
                    <!-- 성별 -->
                    <div class="amend-container">
                        <div class="amend-name-container">
                            <label class="amend-name">성별</label>
                        </div>
                        <div class="amend-gender-container">
                            <div class="amend-gender-wrapper">
                                <div class="sizeSelect">
                                    <span id="sizeSmallSpan" class="checkBox">
                                        <div id="sizeSmallDiv" class="checkBox2"></div>
                                    </span>
                                    <span class="radioText">남자</span>
                                </div>
                                <div class="sizeSelect">
                                    <span id="sizeMiddleSpan" class="checkBox">
                                        <div id="sizeMiddleDiv" class="checkBox2"></div>
                                    </span>
                                    <span class="radioText">여자</span>
                                </div>
                                <div class="sizeSelect">
                                    <span class="checkBox">
                                        <div class="checkBox2"></div>
                                    </span>
                                    <span class="radioText">선택안함</span>
                                </div>
                                <input type="text" th:field="*{userGender}" id="user_gender" style="display: none">
                            </div>
                        </div>
                        <div class="amend-inputBox-right"></div>
                    </div>
                    <!-- 생년월일 -->
                    <div class="amend-container" style="padding-bottom: 30px;">
                        <div class="amend-name-container">
                            <label class="amend-name">생년월일</label>
                        </div>
                        <div class="amend-birth-container">
                            <div class="amend-birth-wrapper">
                                <div class="amend-birth-input-container">
                                    <input type="text" placeholder="YYYY" th:value="${birthFirtst}"
                                           class="amend-birth-input-text">
                                </div>
                                <span class="amend-birth-input-span">/</span>
                                <div class="amend-birth-input-container">
                                    <input type="text" placeholder="MM" th:value="${birthMiddle}"
                                           class="amend-birth-input-text">
                                </div>
                                <span class="amend-birth-input-span">/</span>
                                <div class="amend-birth-input-container">
                                    <input type="text" placeholder="DD" th:value="${birthLast}"
                                           class="amend-birth-input-text">
                                </div>
                            </div>
                            <input type="text" th:field="*{userBirth}" id="userBirth" style="display:none;">
                        </div>
                        <div class="amend-inputBox-right"></div>
                    </div>
                    <div class="amend-line"></div>
                    <!-- 이용약관동의 -->
                    <div class="amend-container">
                        <div class="amend-name-container">
                            <label class="amend-name">이용약관동의</label>
                        </div>
                        <div class="amend-use-agree-container">
                            <div class="amend-use-agree-checkBox-container">
                                <label class="amend-use-agree-checkBox-wrapper allCheck">
                                    <input class="termCheckBox test RequiredTermCondition" type="checkbox"
                                           id="TermsAgreeAll">
                                    <div class="amend-choice-agree-checkBox-next">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path class="path1 allPath"
                                                  d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z"
                                                  stroke="#ddd" fill="#fff"></path>
                                            <path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </div>
                                    <span>무료배송, 할인쿠폰 등 혜택/정보 수신 동의</span>
                                </label>
                                <span class="amend-choice-agree-choice">(선택)</span>
                            </div>
                            <div class="amend-use-agree-check-container">
                                <label class="amend-use-agree-check-sms checked">
                                    <input class="termCheckBox test RequiredTermCondition" type="checkbox">
                                    <div class="amend-choice-agree-checkBox-next">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path class="path1"
                                                  d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z"
                                                  stroke="#ddd" fill="#fff"></path>
                                            <path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </div>
                                    <span>SMS</span>
                                </label>
                                <label class="amend-use-agree-check-email checked">
                                    <input class="termCheckBox test RequiredTermCondition" type="checkbox">
                                    <div class="amend-choice-agree-checkBox-next">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path class="path1"
                                                  d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z"
                                                  stroke="#ddd" fill="#fff"></path>
                                            <path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </div>
                                    <span>이메일</span>
                                </label>
                            </div>
                        </div>
                        <div class="amend-inputBox-right"></div>
                    </div>
                    <!-- 수정버튼 -->
                    <div class="amend-btn-container">
                        <button class="amend-btn" type="button">
                            <span class="amend-btn-text">회원정보수정</span>
                        </button>
                        <!-- 회원정보가 수정되었습니다. 모달 -->
                        <div id="infomodal" class="modal infomodal">
                            <div class="modal-content">
                                <div class="pay-content">회원정보가 수정되었습니다.</div>
                                <div class="pay-footer"></div>
                                <button class="pay-popup-check infocheck" type="button">확인</button>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 푸터 -->
<footer th:insert="~{main/footer.html :: mainFooter}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/main/header.js"></script>
<script src="/js/mypage/components.js"></script>
<script src="/js/mypage/my-info.js"></script>
<script th:inline="javascript">
    let $gender = [[${userVO.userGender}]];
    switch ($gender) {
        case '남':
            $("span.checkBox").eq(0).addClass('radioSpanClick');
            $('div.checkBox2').eq(0).addClass('radioBoxDivClick');
            $("input[name='userGender']").val("남");
            break;
        case '여':
            $("span.checkBox").eq(1).addClass('radioSpanClick');
            $('div.checkBox2').eq(1).addClass('radioBoxDivClick');
            $("input[name='userGender']").val("여");
            break;
        default:
            $("span.checkBox").eq(2).addClass('radioSpanClick');
            $('div.checkBox2').eq(2).addClass('radioBoxDivClick');
            $("input[name='userGender']").val("");
            break;
    }

    $(".mypage-list-left-section-name").eq(4).css({
        "background-color": "rgb(250, 250, 250)",
        "color": "rgb(95, 0, 128)"
    });
</script>
</html>