<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>짐캐리 | 마이페이지 | 내 후기</title>
    <link rel="stylesheet" href="/css/mypage/my-review.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="stylesheet" href="/css/mypage/paging.css">
    <link rel="icon" href="/image/favicon.png">
</head>
<body>

<header th:insert="~{main/header.html :: mainHeader}"></header>
<!-- 마이페이지 -->
<div class="mypage">
    <div class="mypage-section" th:insert="~{mypage/side-menu.html :: top_menu}"></div>
    <div class="mypage-list">
        <div class="mypage-list-left-container" th:insert="~{mypage/side-menu.html :: sidebar}"></div>
        <!-- 오른쪽 -->
        <div class="mypage-list-right">
            <div class="mypage-list-right-name-container">
                <div class="mypage-list-right-name-wrapper">
                    <h2 class="mypage-list-right-name">내 후기</h2>
                </div>
            </div>
            <!-- 작성 가능 후기 -->
            <div class="mypage-review-container">
                <div class="review-title-container">
                    <div class="review-title" type="button" id="title-left-btn">작성 가능 후기</div>
                </div>
                <div class="review-content-container">
                    <div class="review-content-wrpper">
                        <ul class="review-content-text">
                            <li class="review-text">후기를 작성해 보세요!</li>
                            <li class="review-text-list">• 후기 작성은 창고이용일로부터 30일 이내 가능합니다.</li>
                            <li class="review-text-list">• 사진후기를 작성해주시면 더욱 감사합니다.</li>
                        </ul>
                        <div class="review-content-list-container">
                            <span class="review-content-list-count" th:text="${'총 ' + total + '개'}"></span>
                        </div>
                        <div th:object="${pagination}">
                            <div class="paging" style="text-align: center">
                                <a class="changePage" th:href="'review?page=' + *{startPage - 1}" th:if="*{prev}" style="color: black"><code><</code></a>
                                <th:block th:each="page:${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                                    <a class="changePage" style="color: black" th:href="'review?page=' + ${page}" th:if="${pagination.criteria.page != page}"><code th:text="${page}"></code></a>
                                    <code id="currentPage" th:unless="${pagination.criteria.page != page}" th:text="${page}"></code>
                                </th:block>
                                <a class="changePage" th:href="'review?page=' + ${pagination.endPage + 1}" th:if="*{next}" style="color: black"><code>></code></a>
                            </div>
                            <form th:action="@{/users/mypage/review}" th:object="${criteria}" name="pageForm">
                                <input type="hidden" th:field="*{page}">
                                <input type="hidden" th:field="*{amount}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 선택 사진 제한 모달 -->
<div class="modalContainer modalShow" style="overflow-y: auto;">
    <div class="popup" style="display:flex;">
        <div class="modalHeader">
            <ul class="progressStep" style="display:none;"></ul>
            <div class="modalIcon" style="display:none"></div>
            <img src="" alt="">
            <h2></h2>
            <button></button>
        </div>
        <div class="modalContent">
            <div class="modalContentContainer" style="display: block;">
                <div class="modalContentInput"> 이미 선택된 사진은 포함할 수 없습니다.</div>
                <div class="modalFooterInput">
                    <button class="modalCheckButton" onclick="hideModal()">확인</button>
                </div>
            </div>
            <input type="text" style="display: none;">
            <input type="text" style="display: none;">
        </div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- 푸터 -->

<footer th:insert="~{main/footer.html :: mainFooter}"></footer>

</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/main/header.js"></script>
<script th:inline="javascript">
    let reviews = [[${reviews}]];
    let payments = [[${payments}]];
    let $page = [[${pagination.criteria.page}]];
    console.log(reviews);
    console.log(payments);
    $(".mypage-list-left-section-name").eq(3).css({
        "background-color": "rgb(250, 250, 250)",
        "color": "rgb(95, 0, 128)"
    });
</script>
<script src="/js/mypage/doAjax.js"></script>
<script src="/js/mypage/my-review.js"></script>
<script src="/js/mypage/file.js"></script>
</html>