<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="main-header" th:fragment="sidebar">
    <div class="mypage-list-left-name">마이컬리</div>
    <ul class="mypage-list-left-section">
        <li>
            <a class="mypage-list-left-section-name" href="/users/mypage"
               style="text-decoration: none;">
                내 창고
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="11" viewBox="0 0 6 11">
                    <path fill="#5f0080" fill-rule="evenodd" d="M1 11L6 5.5 1 0 0 1.1 4 5.5 0 9.9z"></path>
                </svg>
            </a>
        </li>
        <li>
            <a class="mypage-list-left-section-name" href="/users/mypage"
               style="text-decoration: none;">
                이용 중인 창고
                <span class="mypage-list-left-section-arrow"></span>
            </a>
        </li>
        <li>
            <a class="mypage-list-left-section-name" href="/templates/mypage/my-qna.html"
               style="text-decoration: none;">
                문의 사항
                <span class="mypage-list-left-section-arrow"></span>
            </a>
        </li>
        <li>
            <a class="mypage-list-left-section-name" href="/templates/mypage/my-review.html"
               style="text-decoration: none;">
                내 후기
                <span class="mypage-list-left-section-arrow"></span>
            </a>
        </li>
        <li>
            <a class="mypage-list-left-section-name" href="/users/mypage/update"
               style="text-decoration: none;">
                개인 정보 수정
                <span class="mypage-list-left-section-arrow"></span>
            </a>
        </li>
        <li>
            <a class="mypage-list-left-section-name" href="/users/mypage/unregister"
               style="text-decoration: none;">
                회원 탈퇴
                <span class="mypage-list-left-section-arrow"></span>
            </a>
        </li>
    </ul>
    <a href="#" class="mypage-list-left-section-help" style="text-decoration: none;">
        <div class="mypage-list-left-section-help-text">
            <span style="font-weight: 500;">도움이 필요하신가요?</span>
            <span style="font-size: 12px;">1:1 문의하기</span>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="11" viewBox="0 0 6 11">
            <path fill="#5f0080" fill-rule="evenodd" d="M1 11L6 5.5 1 0 0 1.1 4 5.5 0 9.9z"></path>
        </svg>
    </a>
</div>
</body>
</html>