<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:fragment="sidebar">
    <div class="mypage-list-left-name">마이컬리</div>
    <ul class="mypage-list-left-section">
        <li>
            <a class="mypage-list-left-section-name" href="/users/mypage/mybox"
               style="text-decoration: none;">
                내 창고
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="11" viewBox="0 0 6 11">
                    <path fill="#5f0080" fill-rule="evenodd" d="M1 11L6 5.5 1 0 0 1.1 4 5.5 0 9.9z"></path>
                </svg>
            </a>
        </li>
        <li>
            <a class="mypage-list-left-section-name" href="/users/mypage/usage"
               style="text-decoration: none;">
                이용 중인 창고
                <span class="mypage-list-left-section-arrow"></span>
            </a>
        </li>
        <li>
            <a class="mypage-list-left-section-name" href="/users/mypage/qna"
               style="text-decoration: none;">
                문의 사항
                <span class="mypage-list-left-section-arrow"></span>
            </a>
        </li>
        <li>
            <a class="mypage-list-left-section-name" href="/users/mypage/review"
               style="text-decoration: none;">
                내 후기
                <span class="mypage-list-left-section-arrow"></span>
            </a>
        </li>
        <li>
            <a class="mypage-list-left-section-name" href="/users/mypage/update"
               style="text-decoration: none;">
                개인 정보 수정
                <span class="mypage-list-left-section-arrow"></span>
            </a>
        </li>
        <li>
            <a class="mypage-list-left-section-name" href="/users/mypage/unregister"
               style="text-decoration: none;">
                회원 탈퇴
                <span class="mypage-list-left-section-arrow"></span>
            </a>
        </li>
    </ul>
    <a href="#" class="mypage-list-left-section-help" style="text-decoration: none;">
        <div class="mypage-list-left-section-help-text">
            <span style="font-weight: 500;">도움이 필요하신가요?</span>
            <span style="font-size: 12px;">1:1 문의하기</span>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="11" viewBox="0 0 6 11">
            <path fill="#5f0080" fill-rule="evenodd" d="M1 11L6 5.5 1 0 0 1.1 4 5.5 0 9.9z"></path>
        </svg>
    </a>
</div>
<div th:fragment="top_menu">
    <div class="mypage-section-list">
        <div class="mypage-section-list-left">
            <div class="mypage-section-list-left-container">
                <div class="mypage-section-list-left-type">일반</div>
                <div class="mypage-section-list-left-name-container">
                    <strong class="mypage-section-list-left-name"></strong>
                </div>
            </div>
            <div>
                <li class="status-list-item">
                    <div class="status-item-wrapper">
                        <div class="status-item-name">내 창고</div>
                        <a href="" class="status-item-count" style="text-decoration: none;">0</a>
                    </div>
                </li>
                <div class="mypage-list-right-line"></div>
                <li class="status-list-item">
                    <div class="status-item-wrapper">
                        <div class="status-item-name">이용중인 창고</div>
                        <a href="" class="status-item-count" style="text-decoration: none;">0</a>
                    </div>
                </li>
            </div>
            <div class="mypage-section-list-left-btn-container">
                <a class="mypage-section-list-left-btn" href="/users/mypage/update">개인 정보 수정</a>
            </div>
        </div>
        <a href="#" class="mypage-section-list-right-benner">
            <img src="https://product-image.kurly.com/cdn-cgi/image/quality=85/banner/main/pc/img/20139e33-d871-4de9-a2e8-18a3024af36d.jpg"
                 class="mypage-section-list-right-benner-img">
        </a>
    </div>
    <a href="#" class="mypage-section-list-benner">
        <img src="https://product-image.kurly.com/banner/da-banner/9ecbd6df-5911-419c-8b62-cb44c937e568.jpg"
             class="mypage-section-list-benner-img">
    </a>
</div>
</body>
</html>