<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="../../static/image/favicon.png">
    <link rel="stylesheet" href="../../static/css/notice/notice-list.css">
    <link rel="stylesheet" href="../../static/css/main/header.css">
    <link rel="stylesheet" href="../../static/css/main/footer.css">
</head>
<body>
    <div class="notice-list-all-outer-div">
        <div class="notice-list-all-inner-div">
            <div class="notice-list-side-bar">
                <div class="notice-list-side-bar-title">고객센터</div>
                <ul class="notice-list-side-bar-ul">
                    <li>
                        <a href="#" class="notice-list-side-bar-select">
                            공지사항
                            <span class="notice-list-side-bar-arrow"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="notice-list-side-bar-menu">
                            FAQ
                            <span class="notice-list-side-bar-arrow"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="notice-list-side-bar-menu">
                            1:1문의
                            <span class="notice-list-side-bar-arrow"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="notice-list-content-all">
                <div class="notice-list-title">
                    <div class="notice-list-title-content">
                        <h2 class="notice-list-all-title-text">공지사항</h2>
                        <span class="notice-list-all-text-small">짐캐리의 새로운 소식들과 유용한 정보들을 한곳에서 확인하세요.</span>
                    </div>
                </div>
                <div class="notice-list-table-title">
                    <div class="notice-list-table-title-number">번호</div>
                    <div class="notice-list-table-title-text">제목</div>
                    <div class="notice-list-table-title-write">작성자</div>
                    <div class="notice-list-table-title-write">작성일</div>
                </div>
                <ul class="notice-list-content-ul">
                    <li>
                        <a href="#">
                            <div class="notice-list-table-content-div">
                                <div class="notice-list-table-content-number">공지</div>
                                <div class="notice-list-table-content-title">제목1</div>
                                <div class="notice-list-table-content-writer">작성자1</div>
                                <div class="notice-list-table-content-date">2000-08-10</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="notice-list-table-content-div">
                                <div class="notice-list-table-content-number">공지</div>
                                <div class="notice-list-table-content-title">제목1</div>
                                <div class="notice-list-table-content-writer">작성자1</div>
                                <div class="notice-list-table-content-date">2000-08-10</div>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="button-div">
                        <button disabled class="button-prev"></button>
                        <button class="button-next"></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>