<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="/image/favicon.png">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/notice/notice-detail.css">
    <link rel="stylesheet" href="/css/main/footer.css">
</head>
<body>

<header th:insert="~{main/header.html :: mainHeader}"></header>

    <div class="notice-all">

        <div class="notice-basic-title">
            <div class="notice-text">공지사항</div>
            <div class="notice-text-small">짐캐리의 새로운 소식들과 유용한 정보들을 한곳에서 확인하세요.</div>
        </div>
        <div class="notice-content">
            <div class="notice-table">
                <div class="notice-table-title">제목</div>
                <div class="notice-table-content">빨간날</div>
            </div>
            <div class="notice-table">
                <div class="notice-table-title">작성자</div>
                <div class="notice-table-content">노라조</div>
            </div>
            <div class="notice-table">
                <div class="notice-table-title">작성일</div>
                <div class="notice-table-content">2011.11.04</div>
            </div>
            <div class="notice-article">
                <p>스승의 은혜는 하늘같은데 스승의 날은 어째서 평일입니까<br>
                    선생님 죄송합니다 빨간날인줄 알았어요<br>
                    손발이 닳도록 고생하시는 어버이날은 어째서 평일입니까<br>
                    부모님 죄송합니다 보일러 꼭 놔드릴게요<br>
                    돌아와라 빨간날<br>
                    랄라랄라랄라 - 라- 랄라랄라랄라 오-오- 어디로갔냐 빨간날<br>
                    랄라랄라랄라 - 라- 랄라랄라랄라 넌-넌- 넌 대체 어디로 간거야<br>
                    돌아와라 빨간날<br>
                    지구는 언제나 푸른 별인데 식목일은 어째서 평일입니까<br>
                    지구야 미안하구나 이젠 쓰레기 안버릴께<br>
                    언제나 열심히 일만 하는데 근로자의 날은 왜 또 평일입니까<br>
                    친구야 미안하구나 내가 오늘 탕수육 쏠게<br>
                    돌아와라 빨간날<br>
                    랄라랄라랄라 - 라- 랄라랄라랄라 오-오- 어디로갔냐 빨간날<br>
                    랄라랄라랄라 - 라- 랄라랄라랄라 넌-넌- 넌 대체 어디로 간거야<br>
                    돌아와라 빨간날<br>
                    (기타솔로)<br>
                    돌아와라 빨간날<br>
                    랄라랄라랄라 - 라- 랄라랄라랄라 오-오- 어디로갔냐 빨간날<br>
                    랄라랄라랄라 - 라- 랄라랄라랄라 진짜로 진짜로 어디로갔냐 빨간날<br>
                    랄라랄라랄라 - 라- 랄라랄라랄라 오-오- 어디로갔냐 빨간날<br>
                    랄라랄라랄라 - 라- 랄라랄라랄라 진짜 진짜 넌 대체 어디로 간 거야<br>
                    돌아와라 빨간날</p>
            </div>
            <div class="notice-footer">
                <button class="go-to-list">
                    <span class="go-to-list-text">목록</span>
                </button>
            </div>
        </div>

    </div>

<footer th:insert="~{main/footer.html :: mainFooter}"></footer>

</body>
<script src="/js/main/header.js"></script>
</html>