<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서비스 이용 안내</title>
    <link rel="icon" href="http://127.0.0.1:5500/src/main/resources/static/image/favicon.png">
    <link rel="stylesheet" href="/css/notice/service-use-info.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="icon" href="/image/favicon.png">
</head>
<body>

<header th:insert="~{main/header.html :: mainHeader}"></header>

    <div id="main">
        <div id="content"c>
            <div id="event-view">
                <div id="page-view" class="page-event">
                    <div class="view-event1">
                        <div class="view-event">
                            <h2 class="heading-title">짐캐리 이용규격</h2>
                            <ul class="list-tap">
                                <li class="list-item">
                                    <label for="small-size-button">
                                        <button id="small-size-button" type="button" class="size-button-select">
                                            <span class="size-text">소</span>
                                        </button>
                                    </label>
                                </li>
                                <li class="list-item">
                                    <label for="mid-size-button">
                                        <button id="mid-size-button" type="button" class="size-button">
                                            <span class="size-text">중</span>
                                        </button>
                                    </label>
                                </li>
                                <li class="list-item">
                                    <label for="large-size-button">
                                        <button id="large-size-button" type="button" class="size-button">
                                            <span class="size-text">대</span>
                                        </button>
                                    </label>
                                </li>
                                <li class="list-item">
                                    <label for="extra-large-size-button">
                                        <button id="extra-large-size-button" type="button" class="size-button">
                                            <span class="size-text">특대</span>
                                        </button>
                                    </label>
                                </li>
                            </ul>
                            <div class="img-wrapper">
                                <img src="/image/size-000.png">
                            </div>
                        </div>
                    </div>
                    <div class="view-wrapper">
                        <div class="view-main-header">
                            <div class="header-img">
                                <img src="/image/storage_price.png">
                            </div>
                        </div>
                    </div>
                    <div class="view-header-wrapper">
                        <div class="view-main">
                            <div class="view-img">
                                <div>
                                    <img src="/image/letter-o.png" class="o-img">
                                </div>
                                <div>
                                    <img src="/image/x_img.png" class="x-img">
                                </div>
                            </div>
                        </div>
                        <div class="view-main">
                            <div class="view-img">
                                <img src="/image/possible.png" class="possible-img">
                                <img src="/image/impoissible.png" class="impossible-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<footer th:insert="~{main/footer.html :: mainFooter}"></footer>

</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/notice/serviceUseInfo.js"></script>
<script src="/js/main/header.js"></script>
</html>