<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/joinLogin/changePassword.css">
    <link rel="stylesheet" href="../../static/css/joinLogin/font.css">
    <link rel="stylesheet" href="../../static/css/joinLogin/joinModal.css">
    <title>Document</title>
</head>
<body>
    <div class="changePwLayout">
         <!-- 헤더 -->
         <div id="headers"></div>
        <div class="layout">
            <div class="layoutHeader">비밀번호 재설정</div>
            <div class="layoutMain">
                <form class="mainForm" action="">
                    <div class="newPwForm">
                        <div class="newPwRegistForm">
                            <label for="password" class="passwordLable">새 비밀번호 등록</label>
                            <div class="pwInput">
                                <input type="password" class="newPwInput inputs" name="password" id="password" placeholder="새 비밀번호를 입력해 주세요">
                            </div>
                        </div>
                        <p class="errorMsg1" style="display: block;"></p>
                    </div>
                    <div class="newPwCheck">
                        <div class="pwConfirmLayout">
                            <label for="passwordConfirm" class="passwordConfirm">새 비밀번호 확인</label>
                            <div class="pwInput">
                                <input type="password" class="duplicatePw" placeholder="새 비밀번호를 한 번 더 입력해 주세요" name="passwordConfirm inputs" id="passwordConfirm">
                            </div>
                        </div>
                        <p class="errorMsg2" style="display: block;"></p>
                    </div>
                    <div class="buttonDiv">
                        <button class="checkButton" type="button" radius="4" >
                            <span class="check-span">확인</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
        
        <!--footer-->
        <div id="footers"></div>

        <!-- 모달 -->
        <div class="modal-container modal-center" style="overflow-y: auto; visibility:hidden;">
            <div class="modal-popup modal-show" role="dialog" style="display: flex;">
                <div class="modal-content">
                    <div id="modal-content" class="modal-html-container" style="display: block;">
                        <div class="popup-content">비밀번호 변경이 완료되었습니다.</div>
                        <div class="popup-footer">
                            <button class="popup-check">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    
    <!-- 모달 끝 -->
</body>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#headers").load("../main/header.html");
        $("#footers").load("../main/footer.html");
    });
</script>
<script src="../../static/js/joinLogin/changePassword.js"></script>
</html>