<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/image/favicon.png">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="stylesheet" href="/css/joinLogin/changePassword.css">
    <link rel="stylesheet" href="/css/joinLogin/font.css">
    <link rel="stylesheet" href="/css/joinLogin/joinModal.css">
    <title>짐캐리-비밀번호재설정</title>
</head>
<body>
    <div class="changePwLayout">
         <!-- 헤더 -->
        <header th:insert="~{main/header.html :: mainHeader}"></header>
        <div class="layout">
            <div class="layoutHeader">비밀번호 재설정</div>
            <div class="layoutMain">
                <form class="mainForm" th:action="@{/user/changePassword}" method="post" name="passwordForm">
                    <div class="newPwForm">
                        <div class="newPwRegistForm">
                            <label for="password" class="passwordLable">새 비밀번호 등록</label>
                            <div class="pwInput">
                                <input type="password" class="newPwInput inputs" name="userPassword" id="password" placeholder="새 비밀번호를 입력해 주세요">
                            </div>
                        </div>
                        <p class="errorMsg1" style="display: block;"></p>
                    </div>
                    <div class="newPwCheck">
                        <div class="pwConfirmLayout">
                            <label for="passwordConfirm" class="passwordConfirm">새 비밀번호 확인</label>
                            <div class="pwInput">
                                <input type="password" class="duplicatePw" placeholder="새 비밀번호를 한 번 더 입력해 주세요" name="passwordConfirm inputs" id="passwordConfirm">
                            </div>
                        </div>
                        <p class="errorMsg2" style="display: block;"></p>
                    </div>
                    <div class="buttonDiv">
                        <button class="checkButton" radius="4" >
                            <span class="check-span">확인</span>
                        </button>
                    </div>
                    <input type="hidden" th:value="${userIdentification}" name="userIdentification">
                </form>
            </div>
        </div>
        
        
        <!--footer-->
        <footer th:insert="~{main/footer.html :: mainFooter}"></footer>

        <!-- 모달 -->
        <div class="modal-container modal-center" style="overflow-y: auto; visibility:hidden;">
            <div class="modal-popup modal-show" role="dialog" style="display: flex;">
                <div class="modal-content">
                    <div id="modal-content" class="modal-html-container" style="display: block;">
                        <div class="popup-content">비밀번호 변경이 완료되었습니다.</div>
                        <div class="popup-footer">
                            <button class="popup-check">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    
    <!-- 모달 끝 -->
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/joinLogin/changePassword.js"></script>
<script src="/js/main/header.js"></script>
</html>