<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>짐캐리-비밀번호찾기</title>
    <!-- 로고 -->
    <link rel="icon" href="/image/favicon.png">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="stylesheet" href="/css/joinLogin/find-password-phone.css">
    <link rel="stylesheet" href="/css/joinLogin/font.css">
    <link rel="stylesheet" href="/css/joinLogin/joinModal.css">
    <style>
    </style>
</head>
<body>
<!-- 영역 잡기  -->
<div id="fullscreen">
    <!-- 헤더 -->
    <header th:insert="~{main/header.html :: mainHeader}"></header>
    <!-- 메인 -->
    <div class="findLayout">
        <div class="findTitle">비밀번호 찾기</div>
        <div class="findInputLayout2">
            <div class="findButtonLayout">
                <button class="authenticationPhoneButton">휴대폰 인증</button>
                <button class="authenticationEmailButton">이메일 인증</button>
            </div>
            <form class="findInputLayout">
                <div class="findInputDiv">
                    <div class="findLabelLayout">
                        <label class="findIDLabel" for="name">아이디</label>
                        <div class="findIDInputLabel">
                            <input class="findIDInputBox" data-testid="input-box" id="name" name="name" placeholder="아이디를 입력해 주세요" type="text" value="">
                        </div>
                    </div>
                    <p class="errorMsg1"></p>
                </div>
                <div class="findInputDiv">
                    <div class="findLabelLayout">
                        <label class="findPhoneNum" for="phone">휴대폰 번호</label>
                        <div class="findPhoneInputLabel" height="46">
                            <input class="findPhoneInputBox" data-testid="input-box" id="phone" name="phone" placeholder="휴대폰 번호를 입력해 주세요" type="tel" height="46" value="">
                        </div>
                    </div>
                    <p class="errorMsg2"></p>
                </div>
                <div>
                    <div class="verification" style="display: none;">
                        <div class="verificationLayout">
                            <label for="verification-number" class="verification-number">인증번호</label>
                            <div class="verification-box" height="46">
                                <input type="tel" id="verification-number" height="46" name="verificationNumber" class="verification-input" placeholder="인증번호 7자리" maxlength="7">
                            </div>
                        </div>
                        <button class="verification-button" type="button" width="88" height="48" radius="4">
                            <span class="resend">재발송</span>
                        </button>
                        <p class="verification-timer">00:00</p>
                    </div>
                    <p class="verificationError" style="display:none;"></p>
                </div>
                <div class="codeLayout">
                    <button class="codeButton" type="button" radius="4" style="cursor: pointer;">
                        <span class="buttonBox"> 인증번호 받기</span>
                    </button>
                </div>
                <div class="verifiCheck" style="display: none;">
                    <button class="verifiCheckBtn" type="button">
                        <span class="verifi-span">확인</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- footer -->
    <footer th:insert="~{main/footer.html :: mainFooter}"></footer>
     <!-- 모달 -->
     <div class="modal-container modal-center" style="overflow-y: auto; visibility:hidden;">
        <div class="modal-popup modal-show" role="dialog" style="display: flex;">
            <div class="modal-content">
                <div id="modal-content" class="modal-html-container" style="display: block;">
                    <div class="popup-content">아이디 또는 비밀번호를 입력해주세요</div>
                    <div class="popup-footer">
                        <button class="popup-check">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 모달 끝 -->

</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/joinLogin/find-password-phone.js"></script>
<script src="/js/main/header.js"></script>
</html>