<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>짐캐리-아이디찾기</title>
    <!-- 로고 -->
    <link rel="icon" href="/image/favicon.png">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="stylesheet" href="/css/joinLogin/find-id-phone.css">
    <link rel="stylesheet" href="/css/joinLogin/font.css">
    <link rel="stylesheet" href="/css/joinLogin/joinModal.css">
</head>

<body>
<!-- 영역 잡기  -->
<div id="fullscreen">
    <!-- 헤더 -->
    <header th:insert="~{main/header.html :: mainHeader}"></header>
    <!-- 메인 -->
    <div class="findLayout">
        <div class="findTitle">아이디 찾기</div>
        <div class="findInputLayout2">
            <div class="findButtonLayout">
                <button class="authenticationPhoneButton" onclick="javascript:location.href='/user/find-id-phone'">휴대폰 인증</button>
                <button class="authenticationEmailButton" onclick="javascript:location.href='/user/find-id-email'">이메일 인증</button>
            </div>
            <form th:action="@{/user/find-id-phone}" method="post" class="findInputLayout" name="findIdPhoneForm">
                <div class="findInputDiv">
                    <div class="findLabelLayout">
                        <label class="findNameLabel" for="name">이름</label>
                        <div class="findnameInputLabel">
                            <input class="findnameInputBox" data-testid="input-box" id="name" name="userName"
                                   placeholder="이름을 입력해 주세요" type="text" value="">
                        </div>
                    </div>
                    <p class="errorMsg1"></p>
                </div>
                <div class="findInputDiv">
                    <div class="findLabelLayout">
                        <label class="findpPhoneNum" for="phone">휴대폰 번호</label>
                        <div class="findPhoneInputLabel" height="46">
                            <input class="findPhoneInputBox" data-testid="input-box" id="phone" name="userPhone"
                                   placeholder="휴대폰 번호를 입력해 주세요" type="tel" height="46" value="">
                        </div>
                    </div>
                    <p class="errorMsg2"></p>
                </div>
                <div>
                    <div class="verification" style="display: none;">
                        <div class="verificationLayout">
                            <label for="verification-number" class="verification-number">인증번호</label>
                            <div class="verification-box" height="46">
                                <input type="tel" id="verification-number" height="46" name="verificationNumber" class="verification-input" placeholder="인증번호 6자리" maxlength="6">
                            </div>
                        </div>
                        <button class="verification-button send-sms" type="button" width="88" height="48" radius="4">
                            <span class="resend">재발송</span>
                        </button>
                        <p class="verification-timer">00:00</p>
                    </div>
                    <p class="verificationError" style="display:none;"></p>
                </div>
                <div class="codeLayout">
                    <button class="codeButton send-sms" type="button" radius="4" disabled>
                        <span class="buttonBox"> 인증번호 받기</span>
                    </button>
                </div>
                <div class="verifiCheck" style="display: none;">
                    <button class="verifiCheckBtn">
                        <span class="verifi-span">확인</span>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- footer -->
    <footer th:insert="~{main/footer.html :: mainFooter}"></footer>
</div>
 <!-- 모달 -->
 <div class="modal-container modal-center" style="overflow-y: auto; visibility:hidden;">
    <div class="modal-popup modal-show" role="dialog" style="display: flex;">
        <div class="modal-content">
            <div id="modal-content" class="modal-html-container" style="display: block;">
                <div class="popup-content"></div>
                <div class="popup-footer">
                    <button class="popup-check">확인</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 모달 끝 -->
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/joinLogin/find-id-phone.js"></script>
<script src="/js/main/header.js"></script>
</html>