<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/joinLogin/find-password-emailsend.css">
    <link rel="stylesheet" href="../../static/css/joinLogin/font.css">
</head>
<body class style="padding-right: 0px;">
    <div class="sendmailMain">
        <!-- 헤더 -->
    <div id="headers"></div>
        <div class="mainLayout">
            <div class="mainform">
                <div class="sendMailFrom">
                    <p class="top-content">
                        <span class="top-content-span">jh940412@naver.com</span>
                        으로<br>비밀번호 재설정 메일이 발송되었어요
                    </p>
                    <p class="bottom-content">
                        5분 후에도 메일이 오지 않는다면
                        <br>
                        스팸함을 확인해 주세요
                    </p>
                </div>
            </div>
        </div>
        <!-- footer -->
    <div id="footers"></div>
    </div>
</body>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#headers").load("../main/header.html");
        $("#footers").load("../main/footer.html");
    });
</script>
</html>