<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>컬리 - 마켓컬리/뷰티컬리</title>
    <!-- 로고 -->
    <link rel="shortcut icon" href="/market-kurly/faviconn.ico">
    <link rel="icon" href="/market-kurly/faviconn.ico">
    <link rel="stylesheet" href="../../static/css/joinLogin/find-id-phone.css">
    <link rel="stylesheet" href="../../static/css/joinLogin/font.css">
    <link rel="stylesheet" href="../../static/css/joinLogin/joinModal.css">
</head>

<body>
<!-- 영역 잡기  -->
<div id="fullscreen">
    <!-- 헤더 -->
        <div id="headers"></div>
    <!-- 메인 -->
    <div class="findLayout">
        <div class="findTitle">아이디 찾기</div>
        <div class="findInputLayout2">
            <div class="findButtonLayout">
                <button class="authenticationPhoneButton">휴대폰 인증</button>
                <button class="authenticationEmailButton">이메일 인증</button>
            </div>
            <form class="findInputLayout">
                <div class="findInputDiv">
                    <div class="findLabelLayout">
                        <label class="findNameLabel" for="name">이름</label>
                        <div class="findnameInputLabel">
                            <input class="findnameInputBox" data-testid="input-box" id="name" name="name"
                                   placeholder="이름을 입력해 주세요" type="text" value="">
                        </div>
                    </div>
                    <p class="errorMsg1"></p>
                </div>
                <div class="findInputDiv">
                    <div class="findLabelLayout">
                        <label class="findpPhoneNum" for="phone">휴대폰 번호</label>
                        <div class="findPhoneInputLabel" height="46">
                            <input class="findPhoneInputBox" data-testid="input-box" id="phone" name="phone"
                                   placeholder="휴대폰 번호를 입력해 주세요" type="tel" height="46" value="">
                        </div>
                    </div>
                    <p class="errorMsg2"></p>
                </div>
                <div>
                    <div class="verification" style="display: none;">
                        <div class="verificationLayout">
                            <label for="verification-number" class="verification-number">인증번호</label>
                            <div class="verification-box" height="46">
                                <input type="tel" height="46" name="verificationNumber" class="verification-input" placeholder="인증번호 7자리" maxlength="7">
                            </div>
                        </div>
                        <button class="verification-button" type="button" width="88" height="48" radius="4">
                            <span class="resend">재발송</span>
                        </button>
                        <p class="verification-timer">00:00</p>
                    </div>
                    <p class="verificationError" style="display:none;"></p>
                </div>
                <div class="codeLayout">
                    <button class="codeButton" type="button" radius="4" style="cursor: pointer;">
                        <span class="buttonBox"> 인증번호 받기</span>
                    </button>
                </div>
                <div class="verifiCheck" style="display: none;">
                    <button class="verifiCheckBtn" type="button">
                        <span class="verifi-span">확인</span>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- footer -->
             <div id="footers"></div>
</div>
 <!-- 모달 -->
 <div class="modal-container modal-center" style="overflow-y: auto; visibility:hidden;">
    <div class="modal-popup modal-show" role="dialog" style="display: flex;">
        <div class="modal-content">
            <div id="modal-content" class="modal-html-container" style="display: block;">
                <div class="popup-content"></div>
                <div class="popup-footer">
                    <button class="popup-check">확인</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 모달 끝 -->
</body>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
         $(document).ready(function(){
            $("#headers").load("../main/header.html");
            $("#footers").load("../main/footer.html");
        });
</script>
<script src="../../static/js/joinLogin/find-id-phone.js"></script>
</html>