<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>짐캐리-로그인</title>
    <!-- 로고 -->
    <link rel="icon" href="/image/favicon.png">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="stylesheet" href="/css/joinLogin/login.css">
    <link rel="stylesheet" href="/css/joinLogin/font.css">
    <link rel="stylesheet" href="/css/joinLogin/joinModal.css">
</head>

<body>
<!-- 영역 잡기  -->
    <div id="fullscreen">
        <div>
        <!--헤더 -->
        <header th:insert="~{main/header.html :: mainHeader}"></header>
        <!-- main -->
        <div class="loginLayout">
            <div class="loginTitleLayout">로그인</div>
            <div class="formLayout">
                <form th:action="@{/user/login}" method="post" name="loginForm">
                    <div class="inputLayout">
                        <div class="inputLayout2">
                            <div class="idInputLayout">
                                <input class="idPwInput" data-testid="input-box" name="userIdentification" placeholder="아이디를 입력해주세요"
                                       type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="inputLayout2">
                            <div class="pWInputLayout">
                                <input class="idPwInput" data-testid="input-box" name="userPassword"
                                       placeholder="비밀번호를 입력해주세요" type="password" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="idPwFindLayout">
                        <div class="sns">
                            <div class="sns-img" style="margin-right: 20px;">
                                <a href="https://kauth.kakao.com/oauth/authorize?client_id=f98c5a800722daf40b2e538f2766c211&redirect_uri=
http://localhost:10000/user/kakao&response_type=code">
                                    <img src="https://d2v80xjmx68n4w.cloudfront.net/assets/icon/icon_kakao.png" alt="sns아이콘" class="kakao-img">
                                </a>
                            </div>
                            <div class="sns-img" id="naver_id_login">
                                <a href="https://nid.naver.com/oauth2.0/authorize?response_type=token&amp;client_id=EVE2RFzPw29yZMdwRAx9&amp;redirect_uri=http%3A%2F%2Flocalhost%3A10000%2Fuser%2Fcallback&amp;state=eb7811b3-b788-479d-b90f-24289ff8bc29" id="naver_id_login_anchor">
                                    <img src="https://d2v80xjmx68n4w.cloudfront.net/assets/icon/icon_naver.png" alt="sns아이콘" class="naver-img">
                                </a>
                            </div>
                        </div>
                        <div>
                            <a th:href="@{/user/find-id-phone}" class="idPwFindText">아이디 찾기</a>
                            <span class="slash3"></span>
                            <a th:href="@{/user/find-password-phone}" class="idPwFindText">비밀번호 찾기</a>
                        </div>
                    </div>
                    <div class="loginButtonLayout">
                        <button class="loginButton" type="button" height="54" radius="3">
                            <span class="buttonBox">로그인</span>
                        </button>
                        <button class="joinButton" type="button" height="54" radius="3" onclick="javascript:location.href='/user/join'">
                            <span class="buttonBox">회원가입</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--footer-->
    <footer th:insert="~{main/footer.html :: mainFooter}"></footer>
    <!-- 모달 -->
    <div class="modal-container modal-center" style="overflow-y: auto; visibility:hidden;">
        <div class="modal-popup modal-show" role="dialog" style="display: flex;">
            <div class="modal-content">
                <div id="modal-content" class="modal-html-container" style="display: block;">
                    <div class="popup-content">아이디 또는 비밀번호를 입력해주세요</div>
                    <div class="popup-footer">
                        <button class="popup-check">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 모달 끝 -->
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/joinLogin/login.js"></script>
<script src="/js/main/header.js"></script>
<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
<script type="text/javascript">
    var naver_id_login = new naver_id_login("EVE2RFzPw29yZMdwRAx9", "http://localhost:10000/user/callback");
    var state = naver_id_login.getUniqState();
    naver_id_login.setButton("white", 2,40);
    naver_id_login.setDomain("http://localhost:10000");
    naver_id_login.setState(state);
    // naver_id_login.setPopup();
    // naver_id_login.init_naver_id_login();
</script>
</html>