body, button, input, select, textarea {
    font-size: 14px;
    color: #333;
}
*, :after, :before, legend, td, th {
    padding: 0;
}
*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}
button {
    cursor: pointer;
}
.resultLayout {
    min-width: 1050px;
    padding: 50px 0px;
    background-color: white;
}
.resultLayoutform {
    max-width: 400px;
    padding: 0px 30px 30px;
    margin: auto;
    position: relative;
    background-color: white;
}
.result-header {
    padding-top: 30px;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
}
.result-header-content {
    display: block;
    padding-top: 4px;
    font-weight: 400;
    font-size: 13px;
    color: rgb(153, 153, 153);
    line-height: 18px;
}
ol, ul {
    list-style-type: none;
}
.result-content {
    padding: 12px 0px;
}
.find-content {
    display: flex;
}
canvas, img, video {
    max-width: 100%;
}
img, legend {
    border: 0;
    vertical-align: top;
}
.contentImg {
    width: 40px;
    height: 40px;
    display: block;
    margin: 17px 12px 16px 0px;
}
.content {
    -webkit-box-flex: 1;
    flex-grow: 1;
    border-top: 1px solid rgb(238, 238, 238);
}
.find-content > div {
    border: none;
}
.contentName {
    padding-top: 17px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}
.contentDate {
    display: block;
    padding-top: 4px;
    font-size: 12px;
    color: rgb(153, 153, 153);
}
.result-buttons {
    margin-top: 60px;
}
.allButton {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 52px;
    border-radius: 3px;
    color: rgb(95, 0, 128);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(95, 0, 128);
}
.result-buttons > button:first-of-type {
    margin-bottom: 10px;
}
.allButton-span {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}
button {
    border-radius: 0;
}
html, button, input, select, textarea {
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
}
.loginButton {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 52px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(95, 0, 128);
    border: 0px none;
}
.loginButton-span {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}