html {
    box-sizing: border-box;
    margin: 0;
    font-family: "Noto Sans KR", "malgun gothic", AppleGothic, dotum, sans-serif;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}
button {
    overflow: visible;
    background-color: transparent;
    border: none;
}
button, select {
    text-transform: none;
}
button, input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
body, button, input, select, textarea {
    font-size: 14px;
    color: #333;
}
button {
    border-radius: 0;
}

html, button, input, select, textarea {
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
}
.joinLayout{
    min-width: 1050px;
    margin-top: 50px;
    margin-bottom: 60px;
    background-color: rgb(255, 255, 255);
}
.join {
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 35px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -1px;
    color: rgb(51, 51, 51);
}
.layout1 {
    width: 640px;
    margin: 0px auto;
}
.layout2 {
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(51, 51, 51);
    font-size: 12px;
    color: rgb(102, 102, 102);
    line-height: 17px;
    text-align: right;
}
.RequiredInput {
    color: rgb(238, 106, 123);
}
/* 주소입력 */
.addressWrapper {
    padding-bottom: 12px;
  }
  .addressInputLayout{
    position: relative;
    height: 48px;
  }
  .addressDetailWrapper {
    padding-bottom: 0px;
  }
  .addressInput {
    width: 100%;
    height: 46px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
  }
  .yearBox {
    position: relative;
    height: 40px;
  }
  .warehouseRegisterbirthBox input {
      text-align: center;
      font-size: 14px;
      border: none;
  }

.formstart {
    padding: 0px;
}
.wrapper {
    display: inline-flex;
    width: 100%;
    padding: 10px 20px;
}
.title {
    width: 139px;
    padding-top: 12px;
}
.label {
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 20px;
}
.flexLayout {
    flex: 1 1 0%;
}
.paddingBottom {
    padding-bottom: 0px;
}
.paddingBottom {
    position: relative;
    height: 48px;
}
.addressLayout {
    padding-bottom: 12px;
}
.addressDetailLayout {
    padding-bottom: 0px;
}
.inputBox {
    position: relative;
    height: 48px;
}
.errorDiv {
    padding: 10px 0px;
    display: none;
}
.errorMessage {
    font-size: 13px;
    color: rgb(240, 63, 64);
    margin-top: -4px;
}

.dCheckBox {
    width: 120px;
    margin-left: 8px;
}
.duplicateBox {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 52px;
    border-radius: 3px;
    color: rgb(95, 0, 128);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(95, 0, 128);
}

.dCheckBox > button{
    height: 44px;
    border-radius: 3px;
}
.buttonBox {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}
.dCheckBox > button > span {
    font-weight: 500;
    font-size: 14px;
}
.input {
    width: 100%;
    height: 46px;
    padding: 0 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    outline: none;
    box-sizing: border-box;
}

.searchAddressBt {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 44px;
    border-radius: 4px;
    color: rgb(95, 0, 128);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(95, 0, 128);
}
.explainText{
    display: block;
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
    color: rgb(102, 102, 102);
}
.radioLayout {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
}
.genderSelect {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 0px 9px;
}
.genderRadio {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0px, 0px, 0px, 0px);
}
.checkBox {
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
}
.radioLayout > label > span {
    font-size: 14px;
}
.checkBox2 {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.radioText {
    position: relative;
    font-size: 16px;
    margin-left: 12px;
}
.layout3 {
    height: 44px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    padding: 0px 15px;
}

.paddingBottom2{
    padding-bottom: 0px;
}
.yearBox {
    position: relative;
    height: 40px;
}
.birthInput {
    width: 100%;
    height: 40px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}
.birthInput input {
    width: 100%;
    height: 40px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}
.paddingBottom2 input {
    text-align: center;
    font-size: 14px;
    border: none;
}

.birth-span {
    height: 100%;
}
.birth-span::after {
    content: "/";
    font-size: 14px;
    color: rgb(204, 204, 204);
    text-align: center;
    line-height: 40px;
}
.layout4 {
    padding: 10px 0px;
    border-bottom: 1px solid rgb(51, 51, 51);
}
.termStart {
    padding: 0px;
}
.termsLayout {
    display: inline-flex;
    width: 100%;
    padding: 10px 0px 10px 20px;
}
.termsTitle {
    width: 139px;
    padding-top: 12px;
}
.termsLabel {
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 20px;
}
.termText {
    display: flex;
    padding: 8px 0px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.termText:first-of-type {
    align-items: flex-start;
    flex-direction: column;
    padding-top: 12px;
}
.firstTerm {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: top;
    line-height: normal;
    color: rgb(51, 51, 51);
    padding: 0px;
    font-weight: 500;
    font-size: 18px;
}
.termCheckBox {
    overflow: hidden;
    position: absolute;
    clip: rect(0px, 0px, 0px, 0px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
}
.svg-1{
    margin-right: 12px;   
}
svg:not(:root) {
    overflow: hidden;
}
.svg-1 svg {
    vertical-align: middle;
}
.termCheckImg{
    margin-right: 12px;
}
.explainText {
    font-size: 12px;
    color: rgb(102, 102, 102);
    padding-top: 4px;
    padding-left: 36px;
}
.otherTerms {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.requiredTerm {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: top;
    line-height: normal;
    color: rgb(51, 51, 51);
    padding: 0px;
    font-size: 14px;

}
.termCheckBox {
    overflow: hidden;
    position: absolute;
    clip: rect(0px, 0px, 0px, 0px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
}
.termCheckImg {
    vertical-align: middle;
}
.greyText {
    padding-left: 5px;
    color: rgb(153, 153, 153);
}.viewTerm {
    padding-right: 22px;
    color: rgb(95, 0, 128);
    letter-spacing: 0px;
}
.viewTerm::after {
    content: "";
    display: inline-block;
    margin-left: 4px;
    width: 6px;
    height: 9px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgNiAxMSI+CiAgICA8cGF0aCBmaWxsPSIjNUYwMDgwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xIDExTDYgNS41IDEgMCAwIDEuMSA0IDUuNSAwIDkuOXoiLz4KPC9zdmc+Cg==) 50% 50% / 6px 9px no-repeat;
}
.termText2 {
    display: flex;
    padding: 8px 0px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.smsMailLayout {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 24px;
}
.smsLabel {
    padding: 14px 80px 9px 0px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: top;
    line-height: normal;
    color: rgb(51, 51, 51);
    font-size: 14px;
}
.termCheckBox2 {
    overflow: hidden;
    position: absolute;
    clip: rect(0px, 0px, 0px, 0px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
}
.smsMailExplain {
    margin-left: 36px;
    padding-left: 16px;
    background: url(https://res.kurly.com/pc/service/common/2006/ico_sub_dot.svg) 0px 0px / 16px 20px no-repeat;
    font-size: 12px;
    color: rgb(95, 0, 128);
    line-height: 18px;
    letter-spacing: -0.5px;
}
.submitLayout {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    border-top: 1px solid rgb(247, 247, 247);
    padding: 40px 0px;
}
.submitButton {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 240px;
    height: 56px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(95, 0, 128);
    border: 0px none;
}

.radioSpanClick {
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    background-color: rgb(95, 0, 128);
  }
  .radioBoxDivClick {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: white;
  }