@charset "utf-8";

body {
    min-width: 1728px;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

section.container {
    position: relative;
    width: 1728px;
    margin: 0 auto;
    overflow: hidden;
}

div.banner {
    width: 31104px;
    transition: transform 0.3s;
    /* transform: translate(-90vw); */
}

div.banner div {
    width: 1728px;
    height: 35vh;
    float: left;
    background-size: 100%;
}

div.move-arrow {
    z-index: 1;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 100px;
    bottom: 20px;
    width: 9%;
    height: 5vh;
}

div.move-arrow div {
    background-color: 333;
    width: 25%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

div.prev {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTIiIGhlaWdodD0iNTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxIDEpIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxjaXJjbGUgZmlsbC1vcGFjaXR5PSIuMiIgZmlsbD0iIzAwMCIgY3g9IjI1IiBjeT0iMjUiIHI9IjI1Ii8+CiAgICAgICAgPHBhdGggZD0iTTIyLjI4NSAzMy42OTlhMSAxIDAgMCAwIDEuMzE5LjA5OGwuMDk1LS4wODIgOC03LjgxN2ExIDEgMCAwIDAgLjEwOC0xLjMwNmwtLjA4LS4wOTYtNy43MjMtOC4xODJhMSAxIDAgMCAwLTEuNTM1IDEuMjc2bC4wOC4wOTYgNy4wNDkgNy40NjktNy4yOTcgNy4xM2ExIDEgMCAwIDAtLjA5OCAxLjMxOWwuMDgyLjA5NXoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0ibm9uemVybyIvPgogICAgPC9nPgo8L3N2Zz4K');
    transform: rotate(180deg);
    position: absolute;
    left: -1140px;
    top: -140px;
    opacity: 0;
}

div.next {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTIiIGhlaWdodD0iNTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxIDEpIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxjaXJjbGUgZmlsbC1vcGFjaXR5PSIuMiIgZmlsbD0iIzAwMCIgY3g9IjI1IiBjeT0iMjUiIHI9IjI1Ii8+CiAgICAgICAgPHBhdGggZD0iTTIyLjI4NSAzMy42OTlhMSAxIDAgMCAwIDEuMzE5LjA5OGwuMDk1LS4wODIgOC03LjgxN2ExIDEgMCAwIDAgLjEwOC0xLjMwNmwtLjA4LS4wOTYtNy43MjMtOC4xODJhMSAxIDAgMCAwLTEuNTM1IDEuMjc2bC4wOC4wOTYgNy4wNDkgNy40NjktNy4yOTcgNy4xM2ExIDEgMCAwIDAtLjA5OCAxLjMxOWwuMDgyLjA5NXoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0ibm9uemVybyIvPgogICAgPC9nPgo8L3N2Zz4K');
    position: absolute;
    left: -100px;
    top: -140px;
    opacity: 0;
}

span.banner-count{
    background-color: rgba(160, 160, 160, 0.3);
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 55px;
    font-weight: 700;
    height: 23px;
    left: 1340px;
    bottom: 33px;
    font-size: 14px;
}

.content-banner-div {
    height: auto;
}

.content-banner-inner-div {
    width: 1050px;
    margin: 0px auto;
    padding: 40px 0px;
}

.content-banner-title-div {
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-banner-title-a {
    position: relative;
    display: flex;
    padding: 8px 0px 8px 8px;
    cursor: pointer;
}

.content-banner-title-text {
    color: rgb(51, 51, 51);
    font-size: 28px;
    line-height: 1.15;
    letter-spacing: -0.26px;
    font-weight: 500;
}

.content-banner-explain-text {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.45;
    letter-spacing: -0.2px;
    text-align: center;
    color: rgb(153, 153, 153);
    margin-top: 2px;
}