<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.jimcarry.mapper.ReviewFileMapper">
    <!-- 추가 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="fileId">
        insert into tbl_review_file
        (review_id, review_file_path, review_org_name, review_file_uuid)
        values(#{reviewId}, #{filePath}, #{fileOrgName}, #{fileUuid})
    </insert>
    <select id="selectAll" resultType="inquiryFileVO">
        select review_file_id as file_id , review_id, review_file_path as file_path, review_org_name as file_org_name, review_file_uuid as file_uuid
        from tbl_review_file
        where review_id = #{reviewId}
    </select>
    <delete id="delete">
        delete from tbl_review_file
        where review_id = #{reviewId}
    </delete>

    <!--한 창고의 리뷰 파일 조회-->
    <select id="selectByReviewId" resultType="reviewFileVO">
        select review_file_id as file_id, review_id, review_file_path as file_path
        , review_org_name as file_org_name
        , review_file_uuid as file_uuid
        from tbl_review_file
        where review_id = #{reviewId}
    </select>
</mapper>