<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.jimcarry.mapper.StorageMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="storageId">
        insert into tbl_storage
        (user_id, storage_title, storage_size, storage_price, storage_address, storage_address_detail, storage_use_date, storage_end_date)
        values(
        #{userId}, #{storageTitle}, #{storageSize},
        #{storagePrice}, #{storageAddress}, #{storageAddressDetail},
        #{storageUseDate}, #{storageEndDate}
        )
    </insert>
    <!--  조회  -->
    <select id="select" resultType="storageVO">
        select storage_id, user_id, storage_title, storage_size, storage_price, storage_address, storage_address_detail, storage_use_date, storage_end_date
        from tbl_storage
        where storage_id = #{storageId}
    </select>
    <select id="selectAll" resultType="storageVO">
        select storage_id, user_id, storage_title, storage_size, storage_price, storage_address, storage_address_detail, storage_use_date, storage_end_date
        from tbl_storage
        limit #{page.criteria.startRow}, #{page.criteria.amount}
    </select>
    <!-- 검색조건에 맞는 테이블 불러옴(페이징처리) -->
    <select id="selectBy" resultType="storageVO">
        select storage_id, user_id, storage_title, storage_size, storage_price, storage_address, storage_address_detail,
        storage_use_date, storage_end_date
        from tbl_storage
        <include refid="searchType"/>
        limit #{page.criteria.startRow}, #{page.criteria.amount}
    </select>
    <select id="total" resultType="int">
        select count(storage_id) from tbl_storage
    </select>
    <!-- 검색조건에 맞는 총 갯수 -->
    <select id="totalBy" resultType="int">
        select count(storage_id) from tbl_storage
        <include refid="searchType"/>
    </select>
    <!--  PageDTO인지 SearchDTO인지 판별  -->
    <!-- not 연산자와 ! 연산자 모두 가능 -->
    <sql id="searchType">
        <choose>
            <when test="not(page.IS_SEARCH_DTO)">
                <bind name="dto" value="page.searchDTO"/>
            </when>
            <otherwise>
                <bind name="dto" value="page"/>
            </otherwise>
        </choose>
        <include refid="searchContext"/>
    </sql>
    <!--  조건에 맞는 테이블 검색조건  -->
    <sql id="searchContext">
        where
        <trim prefixOverrides="and">
            <foreach collection="dto.types" item="type">
                <trim prefix="and">
                    <choose>
                        <when test="type == 'userId'.toString()">
                            user_id = #{dto.userId}
                        </when>
                        <when test="type == 'keyword'.toString()">
                            storage_title like concat('%', #{dto.keyword}, '%')
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>
</mapper>