<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.jimcarry.mapper.UserMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="userId">
        insert into tbl_user
        (user_identification, user_password, user_name, user_email, user_phone, user_address, user_address_detail, user_gender, user_birth)
        values(#{userIdentification}, #{userPassword}, #{userName}, #{userEmail}, #{userPhone}, #{userAddress}, #{userAddress}, #{userGender}, #{userBirth});
    </insert>
    <select id="select" resultType="userVO">
        select user_id, user_identification, user_password, user_email, user_name, user_phone, user_address, user_address_detail, user_gender, user_birth
        from tbl_user
        where user_id = #{userId}
    </select>
    <select id="selectAllBy" resultType="userVO">
        select user_id, user_identification, user_password, user_email, user_name, user_phone, user_address,
        user_address_detail, user_gender, user_birth
        from tbl_user
        <include refid="searchType"/>
        order by user_id
        <if test="page.searchDTO.isDesc">
            desc
        </if>
        limit #{page.criteria.startRow}, #{page.criteria.amount}
    </select>
    <select id="selectAll" resultType="userVO">
        select user_id, user_identification, user_password, user_email, user_name, user_phone, user_address,
        user_address_detail, user_gender, user_birth
        from tbl_user
        order by user_id
        <if test="page.searchDTO.isDesc">
            desc
        </if>
        limit #{page.criteria.startRow}, #{page.criteria.amount}
    </select>
    <select id="total" resultType="int">
        select count(user_id) from tbl_user
    </select>
    <select id="totalBy" resultType="int">
        select count(user_id) from tbl_user
        <include refid="searchType"/>
    </select>
    <select id="selectByIdentificationAndPassword" resultType="long">
        select user_id from tbl_user
        where user_identification = #{userIdentification} and user_password = #{userPassword}
    </select>
    <select id="selectByIdentification" resultType="int">
        select count(user_id) from tbl_user
        where user_identification = #{userIdentification}
    </select>
    <select id="selectByEmail" resultType="int">
        select count(user_id) from tbl_user
        where user_email = #{userEmail}
    </select>
    <update id="update">
        update tbl_user
        set user_identification=#{userIdentification}, user_password=#{userPassword}, user_email=#{userEmail}, user_name=#{userName},
        user_phone=#{userPhone}, user_address=#{userAddress}, user_address_detail=#{userAddressDetail}, user_gender=#{userGender}, user_birth=#{userBirth}
        where user_id= #{userId};
    </update>
    <delete id="delete" parameterType="long">
        delete from tbl_user
        where user_id = #{userId}
    </delete>
    <!--  PageDTO인지 SearchDTO인지 판별  -->
    <!-- not 연산자와 ! 연산자 모두 가능 -->
    <sql id="searchType">
        <choose>
            <when test="page.IS_SEARCH_DTO">
                <bind name="dto" value="page"/>
            </when>
            <otherwise>
                <bind name="dto" value="page.searchDTO"/>
            </otherwise>
        </choose>
        <include refid="searchContext"/>
    </sql>
    <!--  조건에 맞는 테이블 검색조건  -->
    <sql id="searchContext">
        where
        <trim prefixOverrides="and">
            <foreach collection="dto.types" item="type">
                <trim prefix="and">
                    <choose>
                        <when test="type == 'userId'.toString()">
                            user_id = #{dto.userId}
                        </when>
                        <when test="type == 'keyword'.toString()">
                            user_identification like concat('%', #{dto.keyword}, '%')
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>
    <!--  이름, 핸드폰 번호로 아이디 찾기  -->
    <select id="selectByNameAndPhone" resultType="string">
        select user_identification from tbl_user
        where user_name = #{userName} and user_phone = #{userPhone}
    </select>
    <!-- 총 인원 수 구하기-->
    <select id="selectTotalUser" resultType="int">
        select count(user_id) from tbl_user
    </select>
</mapper>